.side-bar-filter {
  width: 25%;
}
.cards-box {
  display: flex;
  justify-content: space-between;
  padding: 20px 46px;
}
.cards-header-text {
  display: flex;
  flex-direction: column;
}

.search-result-container {
  margin: 3% 5%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 5px;
}

.slider {
  width: 97%;
  height: 30px;
  display: inline-flex;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 15%);
  flex-direction: column;
}
.slider p {
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  padding-left: 20px;
  color: #fff;
}

.slider input[type="range"] {
  -webkit-appearance: none !important;
  height: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #f5f5f5;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
  background: #fff;
}
.cards-container {
  background-color: #14162c;
  border-radius: 8px;
  color: #fff;
  width: 75%;
  padding: 10px;
}
.cards-container2 {
  background-color: #14162c;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  padding: 10px;
  padding-bottom: 80px !important;
}
.favourite-icon-position {
  position: relative;
}
.favourite-icon-container {
  position: absolute;
  top: 12%;
  right: 12%;
  opacity: 0.6;
}
.favourite-icon {
  color: transparent;
  font-size: 25px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #adadad;
}
.favourite-icon-fill {
  -webkit-text-fill-color: red;
  font-size: 25px;
  -webkit-text-stroke-width: 2px;
}
.btn-sort-by {
  background-color: transparent;
  border: none;
  color: #fff;
  opacity: 0.6;
}
.btn-icon-container {
  display: flex;
  margin-top: 18px;
  font-size: 15px;
}
.star-icon {
  width: 15px !important;
  height: 15px !important;
  color: red;
  margin-top: 3px;
  position: relative;
  top: 3px;
}
.btn-search-result {
  border: none;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: #fff;
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem !important;
  padding: 5px 12px !important;
  font-size: 13px !important;
  margin: 10px 0 !important;
}
.btn-Research {
  border: none;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: #fff;
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem !important;
  padding: 5px 12px !important;
  font-size: 13px !important;
  margin-left: auto !important;
}

.filterby-divider {
  width: 98%;
  border: 1px solid #414141;
  margin: 15px 0px;
}
.dropdown-headers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
}
.dropdown-headers > * {
  padding: 5px 0px;
}

.didnt-find-text {
  margin-top: 30px;
}
.reqstStateBTN {
  border: none;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: #fff;
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem !important;
  padding: 5px 12px !important;
  font-size: 13px !important;
  margin: 10px 0 !important;
}
.categories-text {
  font-size: 16px;
  opacity: 0.8;
  padding: 5px 0px;
  cursor: pointer;
}
.categories-text:hover {
  background-color: #14167c;
}
.active {
  background-color: #14164c;
  width: 100%;
}
.radio-item {
  position: relative;
  padding: 2px 8px;
  margin: 10px 0;
  transform: translateX(-3%);
}

.radio-item input[type="radio"] {
  display: none;
}

.radio-item label {
  font-weight: 500;
  font-size: 18px;
  opacity: 0.8;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 17px;
  height: 17px;
  border-radius: 11px;
  border: 1px solid #fff;
  background-color: transparent;
}

.radio-item input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #fff;
}
/* radio input */
.slider-color {
  color: #fff !important;
}
/* ------------------------------- FollowList ------------------------------- */
.followList {
  background-color: #14162c;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}
.followCol1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.followerNames {
  color: white;
}
.following-card {
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 20px;
}
.following_P {
  font-size: 12px;
}
.followingP2 {
  font-size: 12px;
}
.followingP3 {
  font-size: 12px;
  padding-bottom: 2px;
}
.following-link {
  text-decoration: none;
}
.followingButtonDiv {
  margin-left: auto;
}
.following-container {
  padding-left: 20px;
}
.follow-P {
  font-size: 13px;
}

.followingBtn {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  border-radius: 4px;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
  color: #fff;
  padding: 10px 20px;
  border: none;
}
@media all and (max-width: 800px) {
  .search-result-container {
    display: flex;
    flex-direction: column;
  }
  .side-bar-filter {
    width: 100%;
  }
  .cards-container {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .search-result-container {
    display: flex;
    flex-direction: column;
  }
  .side-bar-filter {
    width: 100%;
  }
  .cards-container {
    width: 100%;
  }
}
