.side-bar-filter{
    width: 25%;
}
.cards-box{
    display: flex;
    justify-content: space-between;
    padding: 20px 46px;
}
.cards-header-text{
    display: flex;
    flex-direction: column;
}

.search-result-container{
    margin: 3% 5%;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 5px;
}

.cards-container{
    background-color: #14162C;
    border-radius: 8px;
    color: #fff;
    width: 75%;
    padding: 10px;
}
.favourite-icon-position{
    position: relative;
}
.favourite-icon-container{
    position: absolute;
    top: 12%;
    right: 12%;
    opacity: 0.6;
}
.favourite-icon{
    color: transparent;  
    font-size: 25px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
  .favourite-icon-fill{
    -webkit-text-fill-color: red;
    font-size: 25px;
    -webkit-text-stroke-width: 2px;
  }
.btn-sort-by{
    background-color: transparent;
    border: none;
    color: #fff;
    opacity: 0.6;
}
.btn-icon-container{
    display: flex;
    margin-top: 18px;
    font-size: 15px;
}
.star-icon{
    width: 15px !important; 
    height: 15px !important; 
    color:red; 
    margin-top: 3px; 
    position: relative; 
    top: 3px;
}
.btn-search-result{
    background-color: #e7411b;
    padding: 5px 8px;
    font-size: 14px;
    margin: 10px 0;
    border: none;
    color: #fff;
    border-radius: 2px;
}

.filterby-divider{
    width: 98%;
    border: 1px solid #414141;
    margin: 15px 0px;
}
.dropdown-headers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
}
.dropdown-headers>*{
 padding: 5px 0px;
}

.didnt-find-text{
    margin-top: 30px;
}
.categories-text{
    font-size: 16px;
    opacity: 0.8;
    padding: 5px 0px;
}
.active{
background-color: #14162C;
width: 100%;
}
.radio-btn-label{
    margin-left: 5px;
    opacity: 0.8;
    font-size: 16px;
}
.radio-inputs>*{
    margin: 10px 5px;
}

.slider-color{
    color: #fff !important;
}

@media all and (max-width: 800px){
    .search-result-container{
        display: flex;
        flex-direction: column;
    }
    .side-bar-filter{
        width: 100%;
    }
    .cards-container{
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {

.search-result-container{
    display: flex;
    flex-direction: column;
}
.side-bar-filter{
    width: 100%;
}
.cards-container{
    width: 100%;
}
}