.courseimg2 {
  width: 90%;
  margin: 20px auto;
  display: block;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .wishListh4 {
    font-size: 20px !important;
  }
  .wishlistP2{
    font-size: 16px !important;
  }
  .wishListBtn {
    font-size: 10px !important;
    padding: 10px 20px !important;
  }
  .wishButtonDiv{
    margin-left: inherit !important;
    margin: 20px 0 !important;


  }
  .wishlistDiv {
    width: 100% !important;
  }
  .wishlistP {
    font-size: 10px !important;
    padding: 5px 0 !important;
  }
  .wishList-container {
    padding-left: 0 !important;
  }
  .wishlistP3 {
    padding: 0 0 !important;
  }
  /* .courseimg {
    height: 300px !important;
  } */
  .creatorCard2 {
    flex-direction: column !important;
  }
  .cardGrid_List {
    width: 80% !important;
    margin: 14px auto !important;
  }
  .tags-input2 {
    width: 100% !important;
  }
  .selectInput2 {
    width: 100% !important;
  }
  .userProfileButton2 {
    width: 100% !important;
  }
  .comming-soon {
    margin: -56px 0 0 39px !important;
    padding: 3px 2px !important;
    font-size: 8px !important;
  }
  .searchBarIcon {
    height: 25px !important;
    padding: 5px;
    /* top: 30%; */
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .fa-solid {
    margin-left: 32px !important;
  }
  .wishListh4 {
    font-size: 14px !important;
  }
  .wishListBtn {
    font-size: 10px !important;
    padding: 10px 6px !important;
    margin-right: 15px !important;
  }
  .wishlistDiv {
    width: 100% !important;
  }
  .wishlistP {
    font-size: 10px !important;
    padding: 5px 0 !important;
  }
  .wishList-container {
    padding-left: 0 !important;
  }
  .wishlistP3 {
    padding: 0 0 !important;
  }
  /* .courseimg {
    height: 300px !important;
  } */
  .creatorCard2 {
    flex-direction: column !important;
  }
  .cardGrid_List {
    width: 80% !important;
    margin: 14px auto !important;
  }
  .tags-input2 {
    width: 100% !important;
  }
  .selectInput2 {
    width: 100% !important;
  }
  .userProfileButton2 {
    width: 100% !important;
  }
  .comming-soon {
    margin: -9px 0 0 27px !important;
    padding: 3px 4px !important;
    font-size: 11px !important;
  }
  .searchBarIcon {
    height: 25px !important;
    padding: 5px;
    /* top: 30%; */
  }
  .courseimg2 {
    width: 100%;
    padding: 17px;
    border-radius: 18%;
    /* height: 300px; */
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .comming-soon {
    margin: -34px 0 0 11px !important;
    font-size: 9px !important;
  }
  .fa-solid {
    margin-left: 45px !important;
  }
  .wishListh4 {
    font-size: 20px !important;
  }
  .wishlistP {
    font-size: 18px !important;
    padding: 9px 0 !important;
  }
  .wishListBtn {
    font-size: 17px !important;
    padding: 10px 8px !important;
    margin-right: 30px !important;
  }
  .courseimg2 {
    width: 100%;
  }
  /* .courseimg {
    height: 300px !important;
  } */
  .topRatedcourseimg {
    /* height: 300px !important; */
  }
}
