.step3_container {
  width: 100%;
  margin: 10px 0;
  align-items: center;
  display: flex;
}
.step3Input {
  width: 100%;
  margin-right: 0px;
  position: relative;
}
.step3Input1 {
  width: 53%;
  margin-right: 0px;
  position: relative;
}
.DeleteBtn {
  padding-top: 5px !important;
}
.step3_inputs {
  width: 99%;
  background: none;
  border: 1px solid white;
  height: 31px;
  margin-bottom: 13px;
  opacity: 0.6;
  padding: 0 10px;
  color: #fff;
  margin-top: 8px;
  /* margin-left: 10px; */
  float: right;
}
.editIcon,
.deleteIcon {
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
}
.editIcon {
  padding-right: 30px;
}
.step3Img {
  margin-left: 10px;
}
.step3Img1 {
  margin-left: 30px;
  margin-top: 14px;
}
.step3BTN {
  width: 15%;
  padding: 7px 6px;
  border: none;
  background-color: #e7411b;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-top: -5px;
}
.step3_Btn {
  display: flex;
}
.addBTN {
  margin-left: 20px;
  margin-top: 10px;
}
.addNew {
  color: white;
  border: none;
  background: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 9px;
  margin-left: 8px;
  display: inline-block;
}

/* @media only screen and (min-width: 320px) and (max-width: 820px) {
  /* //////////// step 3//////// *
  .createCourseDiv {
    width: 100%;
  }
  .step3_inputs {
    width: 100% !important;
  }
  .step3BTN {
    width: 37% !important;
    font-size: 9px !important;
    margin-top: -5px;
  }
  .step3Input {
    width: 100%;
    margin-right: 5px !important;
  }
  .step_container {
    justify-content: center;
  }
} */
