.formStepOneDiv {
  height: 100%;
  margin-bottom: 100px;
}
.step_container {
  margin-top: 25px !important;
  display: flex;
  align-items: center;
}
.step_container2 {
  margin-top: 25px !important;
  display: flex;
  align-items: center;
}

.coursInput {
  width: 93%;
  background: none;
  border: 1px solid white;
  height: 38px;
  margin-bottom: 19px;
  opacity: 0.6;
  padding: 0 10px;
  color: #fff;
  margin-top: 8px;
}
.stepSelect {
  width: 93%;
  background: none;
  border: 1px solid white;
  height: 38px;
  margin-bottom: 19px;
  opacity: 0.6;
  padding: 0px 10px;
  color: #fff;
  margin-top: 8px;
}
.setepOption {
  background-color: #28293b;
  margin-bottom: 10px;
}

.courstexarea {
  margin-top: 8px;
  width: 96%;
  background: none;
  border: 1px solid white;
  height: 98px;
  margin-bottom: 19px;
  opacity: 0.6;
  padding: 10px;
  color: #fff;
  display: block;
}
.step4Div {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coursDetailBtn {
  display: flex;
  width: 97%;
  justify-content: end;
  margin-top: 33px !important;
}
.success {
  margin: 10px 13px 30px 0px;
  padding: 20px 150px;
}
.drafBtn {
  padding: 8px 25px;
  border: none;
  margin: 10px 13px 30px 0px;
  background-color: #28293b;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}
.continueBtn {
  padding: 8px 25px;
  border: none;
  margin: 10px 13px 30px 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  border-radius: 4px;

  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 12px;
}
