.formStepOneDiv {
  height: 100%;
  margin-bottom: 100px;
  color: #fff;
}
.step_container {
  margin-top: 25px !important;
  display: flex;
  align-items: center;
}
.step_container2 {
  margin-top: 35px !important;
  display: flex;
  align-items: center;
}

.coursInput {
  width: 93%;
  background: none;
  border: 1px solid #555770;
  height: 38px;
  margin-bottom: 19px;
  opacity: 0.6;
  padding: 0 10px;
  color: #fff;
  margin-top: 8px;
}
.coursInputAutofiled {
  margin: 10px 0px !important;
  width: 93% !important;
  background: none;
  border: 1px solid #555770;
  opacity: 0.6;
  color: #fff;
  height: 40px;
}
.css-segi59 {
  padding: 0px !important;
}
.coursInput::placeholder,
.courstexarea::placeholder {
  color: #ffffff;
}
.mainEpisodeDiv {
  width: 80% !important;
}
.stepSelect {
  width: 93%;
  background: none;
  border: 1px solid #555770;
  height: 38px;
  margin-bottom: 19px;
  opacity: 0.6;
  padding: 0px 10px;
  color: #fff;
  margin-top: 8px;
}
.setepOption {
  background-color: #28293b;
  margin-bottom: 10px;
}

.courstexarea {
  margin-top: 8px;
  width: 96%;
  background: none;
  border: 1px solid #555770;
  height: 98px;
  margin-bottom: 19px;
  opacity: 0.6;
  padding: 10px;
  color: #fff;
  display: block;
}

.step4Div {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coursDetailBtn {
  display: flex;
  width: 97%;
  justify-content: end;
  margin-top: 100px !important;
}
.success {
  margin: 10px 13px 30px 0px;
  padding: 20px 150px;
}
.drafBtn {
  font-family: "mulish" !important;
  padding: 8px 25px;
  border: none;
  margin: 10px 13px 30px 0px;
  background-color: #28293b;
  color: white;
  font-weight: 600;
  font-family: "Poppins";
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.continueBtn {
  font-family: "mulish" !important;
  padding: 8px 25px;
  border: none;
  margin: 10px 13px 30px 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 16px;
}
.drafBtn:hover,
.continueBtn:hover {
  background: none;
  border: 1px solid gray;
  padding: 7px 24px;
}
.coming-SoonBYN {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  border-radius: 2px;
  color: #fff;
  position: absolute;
  left: 41%;
  border: none;
  cursor: progress;
  margin-top: 4px;
  padding: 1px 2px;
}
.step1-p {
  padding: 15px 0 20px 0px;
  font-size: 18px;
}
/* -------------------------------- css step3 ------------------------------- */
.step3-centerDiv {
  width: 100;
  margin-top: 30px;
}
.Step3Bg {
  width: 100%;
  height: 100%;
}
.step3-colmn {
  margin-bottom: 40px;
}
.step3-colmn2 {
  margin-bottom: 50px;
}
.step3-colmn3 {
  text-align: center;
}
.step3-buttons {
  padding: 0 60px;
  cursor: pointer;
}
.step6-upload-div {
  display: flex;
  width: 50%;
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .step6-upload-div {
    width: 100%;
    flex-direction: column;
  }
}
@media all and (max-width: 600px) {
  .coursDetailBtn {
    flex-direction: column;
    width: 100%;
    margin-top: 40px !important;
  }
  .drafBtn {
    margin: 10px 0px 30px 0px;
  }
  .coursInput {
    width: 100%;
  }
  .stepSelect {
    width: 100%;
  }
  .continueBtn {
    margin: 10px 0px 30px 0px;
  }
  .coming-SoonBYN {
    left: 67%;
    margin-top: -2px;
    font-size: 9px;
  }
  .step6-upload-div {
    width: 100%;
    flex-direction: column;
  }
  .step1-p {
    padding: 0 0 20px 0;
  }
  .step3-buttons {
    margin-bottom: 13px;
  }
  .step4Div {
    height: 35vh;
  }
  .coursedetail1 {
    font-size: 18px;
  }
}
