@font-face {
  font-family: Myriad Pro-REGULAR;
  src: url(../../assets/MYRIADPRO-REGULAR.OTF);
}
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;800&family=Mulish&display=swap");

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: #15162c !important;
  width: 100% !important;
  margin: auto !important;
  border-radius: 15px !important;
  overflow: hidden !important;
  max-width: 500px !important;
}
.MuiInput-underline:before {
  border-bottom: none !important;
}
/* .form_container {
  padding: 0px 10px;
} */
.login_form {
  padding: 0px 10px 0px 10px;
  display: flex;
  background-color: #15162c;
  color: #fff;
  margin: auto;
  flex-direction: column-reverse;
}

/* .email-label {
  font-size: 1.5em;
  margin-bottom: 10px;
  opacity: 0.8;
} */
.popup-checkbox[type="checkbox"] {
  background-color: #fd0000;
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: #15162c;
  border: 2px solid #fff;
  border-radius: 15%;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-checkbox[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  display: none;
  color: #fff;
}
.popup-checkbox[type="checkbox"]:checked {
  background-color: #15162c;
}
.popup-checkbox[type="checkbox"]:checked:after {
  display: block;
}
.privacy-policy-text {
  color: #e7411b;
}
/* .form_container h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0px 40px 0px;
  display: inline-block;
} */
.clearIcon {
  float: right;
  margin: 25px 5px;
  cursor: pointer;
  font-size: 2em !important;
}

/* .form_container label {
  display: block;
  padding-bottom: 5px;
  padding-right: 10px;
} */
.form_container .inputForm {
  padding-left: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 70px;
  background: none;
  border: 2px solid #6c6464;
  border-radius: 5px;
  color: #fff;
  font: inherit;
  color: currentColor;
}
.form_container .formbtn {
  padding: 18px;
  border: none;
  background-color: #e7411b;
  color: white;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 600;
}
.css-1t29gy6-MuiToolbar-root {
  padding-right: 40px !important;
}
/* UserLandingPage navbar css starts here */
.logo-img {
  margin-left: 20px;
  z-index: 1;
  cursor: pointer;
}
.logo-text-container {
  display: flex;
}
.btn-content-creator {
  padding: 11px 25px;
  border: none;
  border-radius: 25px;
  text-transform: capitalize;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: #fff;
  margin: 0px 10px;
  font-family: "Myriad Pro-REGULAR";
}
.btn-content-creator:hover {
  background: none;
  border: 1px solid grey;
}

/* User landing page header css starts here */
.popup-form {
  height: 30vh;
  width: 100%;
}
.user-landingpage-container {
  margin: 5px 0px 0px 0px;
  position: relative;
  color: white;
}
.user-landing-page-img-container {
  display: flex;
  width: 93%;
  margin: auto;
}
.user-landing-page-text-on-img {
  position: absolute;
  top: 40%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 53%;
}
.UserLandingPageAboutTextImgH1 {
  font-size: calc(4vw - 5px);
  font-weight: 100;
  font-family: "AMCAP Eternal", sans-serif;
}
.frUserLandingPageAboutTextImgH1 {
  font-size: 3em;
  font-weight: 100;
  font-family: "AMCAP Eternal", sans-serif;
  text-shadow: 0px 3px 3px #662f88;
}
.user-landing-page-text-on-imgP {
  color: #fff;
  padding: 5px 0px 5px 0px;
  margin: 8px 0px 20px 0px;
  font-size: 25px;
  text-shadow: 0px 3px 3px #662f88;
  text-transform: uppercase;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 900;
}
.user-landing-page-right-img {
  position: relative;
  width: 100%;
  right: 40%;
}
.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 350px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}
.flex-form2 {
  width: 420px;
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 35px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}
.user-landing-page-email-input {
  flex-basis: 500px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: inherit;
  border: 1px solid #5c5c5c;
  color: white;
}
.user-landing-page-submit-input {
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);

  color: #fff;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  font-size: 12px;
  font-weight: 900;
}
.user-landing-page-submit-input:hover {
  background: none;
  border: 1px solid gray;
}
.css-o98hvh {
  padding: 35px 0 20px 0 !important;
}
/* UserLandingPage Advantages section css starts here */

.box-user {
  width: 80%;
  color: #fff;
  font-weight: 100;
  margin: 0% auto 0 auto;
}
.css-1pakh3q {
  font-family: "AMCAP Eternal", sans-serif !important;
  font-weight: 100 !important;
}
.css-ph2xsj-MuiTypography-root {
  font-family: "AMCAP Eternal", sans-serif !important;
  font-weight: 100 !important;
  text-shadow: 0px 2px 3px #662f88;
}
.advantage-grid-border {
  border: 2px solid black;
  background-color: aquamarine;
}
.btn-advantages {
  padding: 14px 29px;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: #fff;
  border: none;
  border-radius: 6px;
  margin: 20px 12px 27px 7px;
}
.btn-advantages:hover {
  background: none;
  border: 1px solid #202342;
}
.listText {
  color: #fff !important;
  font-size: 15px !important;
  font-weight: 100 !important;
}
.carousalforRight {
  width: 50% !important;
  margin-left: auto !important;
}

.carousel-img {
  width: 100%;
  padding-top: 20px;
  height: 400px;
}
.textmainDiv {
  display: flex;
  height: 400px;
  align-items: center;
}
.textmainDiv {
  height: 467px;
}
.carousalP {
  /* background-color: rgb(14, 15, 30); */
  margin-left: 50px;
  margin-top: -49px;
}
.list-text {
  border-radius: 25px;
  padding: 13px 3px;
  font-size: 23px !important;
  font-weight: 900;
  font-family: "Myriad Pro-REGULAR";
  text-transform: uppercase;
  text-shadow: 0px 3px 3px #662f88;
  line-height: 1.6;
}
.landingtext {
  width: 70%;
}
.carousalP:hover {
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  border-radius: 15px;
}
.carousalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  flex-direction: column;
  width: 95%;
}
.carousalText {
  width: 100%;
  margin: 10px;
}
/* UserLandingPage community section starts here */
.community {
  margin: 0 auto !important;
  width: 80% !important;
  color: #fff;
  padding: 45px 0 0 0;
}
.community-block {
  text-align: center;
  border-right: 1px solid #383838;
  padding: 0 20px;
}
.myStyleUserLanding {
  animation: MovesZooms 2s;
  position: relative;
}
@keyframes MovesZooms {
  from {
    transform: scale(0.3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.community-block-border {
  border: none;
}
.community-content-header {
  font-size: 21px;
  padding-top: 20px;
  padding-bottom: 8px;
  text-transform: uppercase;
  width: 80%;
  margin: auto;
  text-shadow: 0px 4px 3px #662f88;

  font-family: "Myriad Pro";
  font-weight: 100;
}
.frcommunity-content-header {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 8px;
  text-transform: uppercase;

  font-family: "Myriad Pro";
  font-weight: 100;

  line-height: 1.6;
}
.community-content-pargraph {
  padding: 15px 0px;
  font-size: 16px;
  opacity: 0.6;
  font-family: "Myriad Pro-REGULAR";
  font-weight: 100;
}
.frcommunity-content-pargraph {
  padding: 15px 0px;
  font-size: 13px;
  opacity: 0.6;
  font-family: "Myriad Pro-REGULAR";
  font-weight: 100;
}
.community-box {
  margin: 0 auto !important;
  width: 80% !important;
  border: 1px solid gray;
}
.community-logo {
  display: flex;
  justify-content: space-evenly;
}
.community {
  width: 80% !important;
  margin: 0 auto !important;
}
/* Trending section starts here */
.trendingGrid {
  width: 85% !important;
  margin: auto !important;
  text-align: center !important;
  color: white;
}
.dashDiv {
  width: 5px;
  height: 30px;
  border-radius: 20px;
  margin: 2px 10px;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  border-radius: 15px;
}
.trendingDiv {
  background: linear-gradient(
    90.12deg,
    #202342 -127.23%,
    rgba(30, 38, 72, 0) 129.88%
  );
  border-radius: 15px;
  padding: 10px;
  width: 91%;
  margin: auto;
  margin-top: 15%;
  font-family: "Mulish", sans-serif;
  padding-bottom: 28px;
}
.trendingHeadingDiv {
  display: flex;
  margin: 5px;
  padding-bottom: 30px;

  font-family: "Myriad Pro";
  font-weight: 100;

  text-transform: uppercase;
}

.trendinglogoDiv {
  display: flex;
  padding: 0px 20px 20px 20px;
}
.iconImg {
  width: 53.48px;
  height: 53.48px;
}
.trendingLogoText {
  margin: 15px 2px 2px 15px;
}

.nft-games-header {
  width: 78%;
}
/* userlandingpage blog */
.UserLandingPageBlogContainer {
  width: 82%;
  margin: 0 auto;
}

.User-landing-page-blog-divone {
  width: 93%;
  margin-bottom: 25px;
  border-radius: 20px;
  background: linear-gradient(
    90.12deg,
    #202342 22.77%,
    rgba(38, 38, 72, 0) 129.88%
  );
  color: #fff;
}
.blog-view-all {
  font-size: 18px !important;
  cursor: pointer;
  font-family: "Myriad Pro-REGULAR", sans-serif !important;
  font-weight: 600 !important;
  /* text-shadow: 0px 4px 3px #662f88; */
  text-transform: capitalize;
}
.blog-view-all:hover {
  text-decoration: underline;
}
.topIconHeading {
  display: flex;
  margin: 18px 20px;
}
.topH1 {
  font-family: "Myriad Pro-REGULAR", sans-serif !important;
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: 4px;
}
.css-4ff9q7 {
  background-color: #662f88 !important;
  width: 33px !important;
  height: 33px !important;
  border-radius: 50% !important;
}
/* for big screens */
@media only screen and (min-width: 1200px) and (max-width: 1680px) {
  .user-landing-page-text-on-img {
    left: 34%;
  }
  .community {
    padding: 0px 0 0 0;
  }

  .carousalText {
    width: 100%;
  }
  .trendingDiv {
    background: linear-gradient(
      90.12deg,
      #202342 38.77%,
      rgba(30, 38, 72, 0) 129.88%
    );
    padding: 14px 0 36px 0;
    width: 90%;
    margin-bottom: 64px;
    padding-bottom: 20px;
  }
  .frUserLandingPageAboutTextImgH1 {
    font-size: 3.2rem;
    margin-top: 35px;
  }
  .list-text {
    font-size: 20px !important;
    line-height: 1.2;
  }
  .btn-content-creator {
    padding: 11px 35px;
  }
  .outer-container {
    height: 500px;
  }
  .carousalP {
    /* background-color: rgb(14, 15, 30); */
    margin-left: 50px;
    margin-top: -43px;
  }
  .trendingHeadingDiv {
    margin: 5px 18px;
  }
  .carousalP {
    /* background-color: rgb(14, 15, 30); */
    margin-left: 50px;
    margin-top: -43px;
  }
}
@media only screen and (min-width: 1681px) and (max-width: 2000px) {
  .user-landing-page-text-on-img {
    left: 34%;
  }
  .community {
    padding: 0px 0 0 0;
  }

  .carousalText {
    width: 100%;
  }
  .trendingDiv {
    background: linear-gradient(
      90.12deg,
      #202342 51.77%,
      rgba(30, 38, 72, 0) 129.88%
    );
    padding: 14px 0 36px 0;
    width: 75%;
    margin-bottom: 64px;
    /* padding-bottom: 36px; */
  }
  .frUserLandingPageAboutTextImgH1 {
    font-size: 3.2rem;
    margin-top: 35px;
  }
  .list-text {
    font-size: 20px !important;
    line-height: 1.2;
  }
  .btn-content-creator {
    padding: 11px 35px;
  }
  .outer-container {
    height: 500px;
  }
  .carousalP {
    /* background-color: rgb(14, 15, 30); */
    margin-left: 50px;
    margin-top: -43px;
  }
  .trendingHeadingDiv {
    margin: 5px 18px;
  }
  .carousalP {
    /* background-color: rgb(14, 15, 30); */
    margin-left: 50px;
    margin-top: -43px;
  }
}

/* Media queries */
@media all and (max-width: 800px) {
  .flex-form {
    width: 100%;
  }
  .user-landing-page-email-input {
    flex-basis: 100%;
  }
  .flex-form > * {
    font-size: 0.9rem;
    line-height: 30px;
  }
  .btn-advantages {
    margin: 10px 5px;
  }
  .user-landing-page-text-on-imgP {
    font-size: 10px;
  }
  .user-landing-page-right-img {
    position: relative;
    width: 50%;
    right: 40%;
  }
  .UserLandingPageAboutTextImgH1 {
    margin-top: 35px;
  }
  .carousalP {
    margin-left: 50px;
    margin-top: -50px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .trending-table {
    border: 0;
  }
  .btn-advantages {
    margin: 10px 5px;
  }
  .user-landing-page-text-on-imgP {
    font-size: 8px;
    white-space: normal;
  }
  .UserLandingPageAboutTextImgH1 {
    font-size: calc(4vw - 4px);
    white-space: nowrap;
    margin-top: 20px;
  }
  .frUserLandingPageAboutTextImgH1 {
    font-size: auto;
    white-space: nowrap;
    margin-top: 20px;
  }
  .user-landing-page-right-img {
    width: 50%;
  }
  .btn-content-creator {
    padding: 8px 12px;
    border-radius: 25px;
    font-size: 9px;
  }
  .flex-form {
    width: 188px;
  }
  .flex-form > * {
    line-height: 25px;
  }
  .userlandingpageheaderspacing {
    padding-top: 20px !important;
  }
  .user-landing-page-submit-input {
    padding: 0 2px;
    width: 70px;
    font-size: 8px;
  }
  .user-landing-page-email-input {
    width: 50%;
  }
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 80% !important;
  }
  .carousalContainer {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .carousalText {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  .list-text {
    font-weight: 500;
  }
  .carousel-img {
    width: 100%;
  }
  .carousalforRight {
    width: 100% !important;
    margin-top: 10px !important;
  }
}
