.landingpageimgcontainer {
  display: flex;
  width: 93%;
  margin: auto;
}
.landingpageLeftimg {
  width: 100%;
}
.landingpageRightimg {
  position: relative;
  width: 100%;
  right: 44%;
}
.landingpagecontainer {
  text-align: center;
  margin-top: 5px;
  position: relative;
  color: white;
}

.landingpagetextonImg {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.frlandingpagetextonImg {
  position: absolute;
  top: 40%;
  left: 38%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.landingpagetextimgH1 {
  font-size: 3em;
  margin-bottom: 10px;
}
.landingpagetextonImgP {
  padding: 5px 0px 5px 0px;
  margin: 8px 0px 8px 0px;
  color: #e7411b;
}
.landingpagetextonImgbutton {
  padding: 8px 22px 8px 22px;
  border: none;
  margin: 13px 13px 8px 0px;
  background-color: transparent;
  color: white;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #939393;
}
.myStyleBtn {
  animation: MovesBtn 1.8s ease-in;
}
@keyframes MovesBtn {
  from {
    margin-left: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
.landingpagetextonImgbutton:hover {
  background-color: #e7411b;
  border: none;
}
.landingPage_heading {
  position: relative;
}
.myStyles {
  animation: MovesLeftToRight 1.8s ease-in;
}
@keyframes MovesLeftToRight {
  from {
    margin-left: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}

/* What we offer */
.offerGrid {
  width: auto !important;
  margin-bottom: -300px !important;
}

.whatweoffercontainer {
  text-align: center;
  margin-top: 5px;
  position: relative;
  color: white;
}
.offerh1 {
  margin: 40px 0 40px 0;
}
.offerdashline {
  background-color: red;
  width: 20px;
  height: 5px;
  margin: auto;
  border-radius: 5px;
  margin-top: 13px;
}
.offerdivleft {
  text-align: center;
  color: white;
  border: 1px solid #454545;
  width: 80%;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 10px;
}
.offerdivright {
  text-align: center;
  color: white;
  border: 1px solid #454545;
  width: 80%;
  padding-left: 10px;
  border-radius: 10px;
  margin-left: 10px;
}
.offerimg1 {
  width: 30%;
}
.offerimg2 {
  width: 28%;
  margin-top: 10px;
}
.offerheading {
  font-size: 25px;
  padding: 10px;
}
.offerText {
  font-size: 12px;
  color: #d4d4d4;
  padding: 10px 30px 10px 30px;
}
.whatweofferButton {
  padding: 9px 25px;
  border: none;
  margin: 13px 13px 30px 0px;
  background-color: #e7411b;
  color: white;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}
.myStyleWhat {
  animation: MovesZoom 0.8s ease-in;
  position: relative;
}
@keyframes MovesZoom {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);

    opacity: 1;
  }
}
/* for big screens */
@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  .landingpageRightimg {
    height: 525px;
    right: 45%;
  }
  .landingpagetextonImg {
    left: 27%;
  }
  .frlandingpagetextonImg {
    left: 32%;
  }

  .landingpagetextimgH1 {
    font-size: 60px;
  }
  .landingpagetextonImgP {
    font-size: 17px;
  }
  .landingpagetextonImgbutton {
    margin: 30px 13px 8px 0px;
  }
  .offerheading {
    font-size: 30px;
  }
  .offerText {
    font-size: 15px;
    padding: 10px 60px 10px 60px;
  }
  .whatweofferButton {
    padding: 10px 35px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .landingpageRightimg {
    height: 525px;
    right: 45%;
  }
  .landingpagetextonImg {
    left: 32%;
  }
  .frlandingpagetextonImg {
    left: 32%;
  }

  .landingpagetextimgH1 {
    font-size: 29px;
  }
  .landingpagetextonImgP {
    font-size: 8px;
  }
  .landingpagetextonImgbutton {
    margin: 30px 13px 8px 0px;
  }
  .offerheading {
    font-size: 25px;
  }
  .offerText {
    font-size: 14px;
    padding: 10px 20px 10px 20px;
  }
  .whatweofferButton {
    padding: 10px 35px;
  }
  .landingpagetextonImgbutton {
    padding: 8px 10px 8px 8px;
    font-weight: 500;
  }
  .offerdivleft {
    height: 350px;
  }
  .offerdivright {
    height: 350px;
  }
  .offerimg1 {
    width: 46%;
  }
  .offerimg2 {
    width: 44%;
    margin-top: 10px;
  }
  .offerh1 {
    margin: 40px 0 40px 0;
    font-size: 0.8rem;
  }
  .myStylep {
    font-size: 11px;
  }
}

/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .landingpagetextonImg {
    position: absolute;
    top: 53%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  .frlandingpagetextonImg {
    position: absolute;
    top: 53%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  .landingBr {
    display: none;
  }

  .landingpagetextimgH1 {
    font-size: 1.3rem;
  }
  .landingpagetextonImgP {
    padding: 5px 0px 5px 0px;
    margin: 8px 0px 8px 0px;
    color: #e7411b;
    font-size: 8px;
  }
  .landingbuttondiv {
    display: flex;
  }
  .landingpagetextonImgbutton {
    font-size: 6px;
    padding: 5px;
  }
  .offerdivleft {
    margin: auto;
  }
  .offerdivright {
    margin: auto;
  }
  .offerh1 {
    margin: 25px 0 20px 0;
    font-size: 0.6rem;
  }
  .offerheading {
    font-size: 20px;
    padding: 7px;
  }
}
