@font-face {
  font-family: Myriad Pro;
  src: url(../../assets/MYRIADPRO-REGULAR.OTF);
}

.landingpageimgcontainer {
  display: flex;
  width: 93%;
  margin: auto;
}
.landingpageLeftimg {
  width: 100%;
}
.landingpageLeftimg2 {
  display: none;
}
.landingpageRightimg {
  position: relative;
  width: 100%;
  right: 44%;
}
.landingpagecontainer {
  text-align: center;
  margin-top: 5px;
  position: relative;
  color: white;
  background-color: black !important;
}

.landingpagetextonImg {
  position: absolute;
  top: 45%;
  left: 37%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.frlandingpagetextonImg {
  position: absolute;
  top: 40%;
  left: 38%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.landingpagetextimgH1 {
  font-size: 3em;
  margin-bottom: 10px;
  font-family: "AMCAP Eternal", sans-serif;
  font-weight: 100;
  text-shadow: 0px 4px 3px #662f88;
}
.landingpagetextonImgP {
  padding: 5px 0px 5px 0px;
  margin: 8px 0px 8px 0px;
  color: #e7411b;
}
.landingpagetextonImgbutton {
  padding: 12px 20px 12px 20px;
  border: none;
  margin: 13px 13px 8px 0px;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: white;
  font-weight: 600;
  font-family: " Myriad Pro", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  border: 1px solid #662f88;
}
.myStyleBtn {
  animation: MovesBtn 1.8s ease-in;
}
@keyframes MovesBtn {
  from {
    margin-left: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
.landingpagetextonImgbutton:hover {
  background: transparent;
}
@keyframes mymove {
  to {
    background-color: transparent;
  }
}
.landingPage_heading {
  position: relative;
}
.myStyles {
  animation: MovesLeftToRight 1.8s ease-in;
}
@keyframes MovesLeftToRight {
  from {
    margin-left: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}

/* What we offer */
.offerGrid {
  width: auto !important;
  margin-bottom: -300px !important;
}

.whatweoffercontainer {
  text-align: center;
  margin-top: 5px;
  position: relative;
  color: white;
}
.offerh1 {
  margin: 40px 0 40px 0;
  font-family: "AMCAP Eternal", sans-serif;
  font-weight: 100;
  text-shadow: 0px 4px 3px #662f88;
}
.offerdashline {
  background-color: #fff;
  width: 20px;
  height: 5px;
  margin: auto;
  border-radius: 5px;
  margin-top: 13px;
  margin-bottom: 0px;
}
.offerdivleft {
  text-align: center;
  color: white;
  border: 1px solid #454545;
  width: 80%;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 10px;
}
.offerdivright {
  text-align: center;
  color: white;
  border: 1px solid #454545;
  width: 80%;
  /* padding-left: 10px; */
  border-radius: 10px;
  margin-left: 10px;
}
.offerimg1 {
  width: 30%;
}
.offerimg2 {
  width: 30%;
  margin-top: 20px;
}
.offerheading {
  font-size: 25px;
  padding: 10px;
  font-family: "AMCAP Eternal", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
.offerheading2 {
  font-size: 25px;
  padding: 10px;
  /* font-family: "AMCAP Eternal", sans-serif; */
  font-weight: 100;
  text-transform: uppercase;
}
.offerText {
  font-size: 23px;
  padding: 10px 70px 10px 70px;
  font-family: "Maven Pro";
  font-weight: 700;
  width: 82%;
  margin: auto;
  line-height: 1.4;
}
.offerText2 {
  font-size: 18px;
  padding: 10px 70px 10px 70px;
  font-family: "Myriad Pro";
  font-weight: 500;
  width: 82%;
  margin: auto;
  line-height: 1.4;
}
.whatweofferButton {
  padding: 11px 25px;
  border: none;
  margin: 13px 13px 30px 0px;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: white;
  font-weight: 600;
  font-family: "Myriad Pro", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  /* text-transform: capitalize; */
  border: 1px solid #662f88;
}
.whatweofferButton2 {
  padding: 11px 25px;
  border: none;
  margin: 13px 13px 22px 0px;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: white;
  font-weight: 600;
  font-family: "Myriad Pro", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  /* text-transform: capitalize; */
  border: 1px solid #662f88;
}
.whatweofferButton:hover {
  background: none;
}
.myStyleWhat {
  animation: MovesZoom 0.8s ease-in;
  position: relative;
}
.offerText22 {
  display: none;
}
@keyframes MovesZoom {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);

    opacity: 1;
  }
}
@media only screen and (min-width: 1900px) and (max-width: 2500px) {
  .landingpageRightimg {
    height: 525px;
    right: 45%;
  }
  .landingpagetextonImg {
    left: 34%;
  }
  .frlandingpagetextonImg {
    left: 34%;
    top: 44%;
  }

  .landingpagetextimgH1 {
    font-size: 3.4rem;
  }
  .landingpagetextonImgP {
    font-size: 12px;
  }
  .landingpagetextonImgbutton {
    padding: 11px 18px 11px 18px;
    margin: 40px 13px 8px 0px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  .landingpageRightimg {
    height: 525px;
    right: 45%;
  }
  .landingpagetextonImg {
    left: 39%;
  }
  .frlandingpagetextonImg {
    left: 38%;
    top: 52%;
  }
  .landingpagetextimgH1 {
    font-size: 2.6em;
    margin-bottom: 10px;
    font-family: "AMCAP Eternal", sans-serif;
    font-weight: 100;
    text-shadow: 0px 4px 3px #662f88;
  }
  .landingpagetextimgH1 {
    font-size: 2.6em;
  }
  .landingpagetextonImgP {
    font-size: 8px;
  }
  .landingpagetextonImgbutton {
    margin: 25px 13px 8px 0px;
    /* padding: 8px 10px 8px 8px;
    font-weight: 50; */
  }
  .offerText {
    padding: 9px 34px 10px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .css-o98hvh {
    padding: 15px 0 0px 0 !important;
  }
  .MuiGrid-spacing-xs-4 {
    width: calc(100% + 0px) !important;
    justify-content: space-around !important;
  }
  .User-landing-page-blog-divone {
    margin: auto;
    width: 100% !important;
  }
  .MuiGrid-spacing-xs-4 > .MuiGrid-item {
    padding: 0 !important;
    max-width: 30% !important;
    flex-basis: 30% !important;
  }
  .landingpageRightimg {
    height: 525px;
    right: 45%;
  }
  .landingpagetextonImg {
    left: 33%;
  }
  .frlandingpagetextonImg {
    left: 33%;
    top: 52%;
  }

  .landingpagetextimgH1 {
    font-size: 24px;
  }
  .landingpagetextonImgP {
    font-size: 8px;
  }
  .landingpagetextonImgbutton {
    margin: 16px 13px 8px 0px;
    padding: 8px 10px 8px 8px;
    font-size: 14px;
  }
  .offerheading {
    font-size: 15px;
  }
  .offerText {
    font-size: 14px;
    padding: 10px 20px 10px 20px;
  }
  .whatweofferButton {
    padding: 10px 35px;
  }
  .offerdivleft {
    width: 80%;
    margin-bottom: 20px;
    margin: auto;
  }
  .offerdivright {
    width: 80%;
    margin-left: 0;
    margin: auto;
  }
  .offerimg1 {
    width: 46%;
  }
  .offerimg2 {
    width: 44%;
    margin-top: 10px;
  }
  .offerh1 {
    margin: 29px 0 24px 0;
    font-size: 0.8rem;
  }
  .UserLandingPageBlogContainer {
    width: 100% !important;
    margin: 0 auto;
  }
  .blogGridOuterDiv {
    width: 95%;
  }
  .blogdiv1heading {
    padding: 0px 0px 0 0px;
    font-size: 15px;
  }
  .bloddiv1detail {
    font-size: 12px;
    padding: 10px 0px 11px 0px;
  }
  .seemore {
    font-size: 12px;
  }
  .MuiGrid-grid-sm-3 {
    flex-grow: 0;
    max-width: 50% !important;
    flex-basis: 50% !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .css-o98hvh {
    padding: 15px 0 0px 0 !important;
  }
  .MuiGrid-spacing-xs-4 {
    width: calc(100% + 0px) !important;
  }
  .User-landing-page-blog-divone {
    width: 70% !important;
    margin: auto;
  }
  .MuiGrid-spacing-xs-4 > .MuiGrid-item {
    padding: 0 !important;
  }
  .landingpageRightimg {
    height: 525px;
    right: 45%;
  }
  .landingpagetextonImg {
    left: 37%;
  }
  .frlandingpagetextonImg {
    left: 40%;
    top: 52%;
  }

  .landingpagetextimgH1 {
    font-size: 20px;
  }
  .landingpagetextonImgP {
    font-size: 8px;
  }
  .landingpagetextonImgbutton {
    margin: 16px 13px 8px 0px;
    padding: 8px 10px 8px 8px;
    font-size: 12px;
  }
  .offerheading {
    font-size: 15px;
  }
  .offerText {
    font-size: 14px;
    padding: 10px 20px 10px 20px;
  }
  .whatweofferButton {
    padding: 10px 35px;
    font-size: 12px;
  }
  .offerdivleft {
    width: 80%;
    margin-bottom: 20px;
    margin: auto;
  }
  .offerdivright {
    width: 80%;
    margin-left: 0;
    margin: auto;
  }
  .offerimg1 {
    width: 46%;
  }
  .offerimg2 {
    width: 44%;
    margin-top: 10px;
  }
  .offerh1 {
    margin: 29px 0 24px 0;
    font-size: 0.8rem;
  }
  .UserLandingPageBlogContainer {
    width: 100% !important;
    margin: 0 auto;
  }
  .blogGridOuterDiv {
    width: 95%;
  }
  .blogdiv1heading {
    padding: 0px 0px 0 0px;
    font-size: 18px;
  }
  .bloddiv1detail {
    font-size: 14px;
    padding: 10px 0px 11px 0px;
  }
  .seemore {
    font-size: 18px;
  }
  .MuiGrid-grid-sm-3 {
    flex-grow: 0;
    max-width: 50% !important;
    flex-basis: 50% !important;
  }

  .f1div {
    padding: 0px 0px 50px 0px !important;
  }
  .MuiGrid-grid-sm-4 {
    margin-bottom: 20px !important;
  }
}

/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .landingpagetextonImg {
    position: absolute;
    top: 53%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  .MuiGrid-spacing-xs-4 > .MuiGrid-item {
    padding: 0px !important;
  }
  .MuiBox-root {
    padding: 0px !important;
  }
  .frlandingpagetextonImg {
    top: 45%;
    left: 44%;
    width: 71%;
  }
  .landingBr {
    display: none;
  }

  .landingpagetextimgH1 {
    font-size: 22px;
    line-height: 1.5;
  }
  .landingpagetextonImgP {
    padding: 5px 0px 5px 0px;
    margin: 8px 0px 8px 0px;
    color: #e7411b;
    font-size: 8px;
  }
  .landingbuttondiv {
    display: flex;
  }
  .landingpagetextonImgbutton {
    font-size: 6px;
    padding: 5px;
    margin: 7px 13px 8px 0px;
  }
  .offerdivleft {
    margin: 0 auto 35% auto;
  }
  .offerdivright {
    margin: auto;
    margin-bottom: 8px;
  }
  .offerh1 {
    margin: 17px 0 15px 0;
    font-size: 0.6rem;
  }
  .offerh1-1 {
    /* margin: 17px 0 15px 0; */
    font-size: 20px !important;
  }
  .offerheading {
    font-size: 17px;
    padding: 7px;
  }
  .offerText {
    font-size: 14px;
    padding: 6px 0px 10px 0;
  }
  .whatweofferButton {
    margin: 13px 0px 30px 0px;
    font-size: 12px;
    padding: 7px 14px;
  }
  .MuiGrid-grid-sm-4 {
    margin-bottom: 20px !important;
  }
  .blogdiv1heading {
    padding: 0px 0px 0 0px;
    font-size: 17px;
  }
  .bloddiv1detail {
    padding: 10px 0px 10px 0px;
  }

  .offerheading5 {
    font-size: 20px;
  }
  .offerText22 {
    display: block;
    z-index: 5;
    font-size: 10px;
    padding-top: 10px;
  }
  .offerText2 {
    display: none;
    font-size: 10px;
    padding: 10px 0px 10px 0;
  }
  .landingpageLeftimg {
    display: none;
  }
  .landingpageLeftimg2 {
    display: block;
    width: 100%;
  }
}
