.whowearecontainer {
  color: white;
  text-align: center;
  padding-top: 40px;
}
.whoweareimgdiv {
  width: 66%;
  margin-left: auto;
}
.whoweareimg {
  width: 100%;
}
.videoimg {
  width: 100%;
}
.videoImgDiv {
  width: 70%;
  margin: auto;
  padding-top: 40px;
}
.whoweareText {
  width: 70%;
  margin: 50px;
  text-align: left;
}
.whoweareP {
  margin-bottom: 50px;
  opacity: 0.9;
  font-size: 13px;
  line-height: 23px;
  width: 74%;
}
/* for big screens */
@media only screen and (min-device-width: 1500px) and (max-device-width: 1900px) {
  .whoweareText {
    width: 65%;
    margin: 14% 70px 70px 70px;
    text-align: left;
  }
  .whoweareP {
    margin-bottom: 50px;
    font-size: 13px;
    line-height: 23px;
  }
}

/* for mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  .whoweareimgdiv {
    margin: auto;
  }
  .whoweareText {
    width: auto;
    margin: 50px;
    text-align: left;
  }
  .videoImgDiv {
    width: 90%;
  }
  .whoweareP {
    font-size: 12px;
    width: 100%;
  }
}
