.whowearecontainer {
  color: white;
  text-align: center;
  padding-top: 40px;
  font-family: Mulish;
}
.whoweareimgdiv {
  width: 80%;
  margin-left: auto;
}
.whoweareimg {
  width: 100%;
}
.videoimg {
  width: 100%;
}
.videoImgDiv {
  width: 80%;
  margin: auto;

}
.whoweareText {
  
  width: 65%;
  margin: 20% 70px 70px 70px;
  text-align: left;
}
.whoweareP {
  margin-bottom: 50px;
  color: #D4D4D4;
  font-size: 18px;
  line-height: 28px;
  width: 100%;
}
/* for big screens */
@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  /* .whoweareText {
    width: 65%;
    margin: 14% 70px 70px 70px;
    text-align: left;
  } */

}

/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .whoweareimgdiv {
    margin: auto;
    width: 85%;
  }
  .whoweareText {
    width: auto;
    margin: 30px;
    text-align: left;
  }
  .videoImgDiv {
    width: 90%;
    padding-top: 0;
  }
  .whoweareP {
    font-size: 12px;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1212px) {
  .whoweareP {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 20px;
    width: 100%;
  }
  .whoweareimgdiv {
    width: 83%;
  }
  .videoImgDiv {
    width: 83%;
    padding-top: 63px;
  }
  .whoweareText {
    width: 80%;
    margin: 70px 0 0 0;
  }
}
