@font-face {
  font-family: Myriad Pro-REGULAR;
  src: url(../../assets/MYRIADPRO-REGULAR.OTF);
}
.MuiGrid-spacing-xs-4 > .MuiGrid-item {
  padding: 0px !important;
}
.footerDiv {
  background-color: #000000;
  color: white;
  text-align: center;
  padding-top: 50px;
}
.footerLogo {
  /* margin-left: 59px; */
  margin-bottom: 5px;
}
.footerText {
  margin-left: 78px;
  text-align: left;
  padding: 20px 0px 20px 0px;
}
.f1div {
  padding: 15px 0px 15px 0px;
  text-align: left;
  margin-left: 50px;
}
.f2div {
  padding: 40px 0px 15px 115px;
  text-align: left;
}
.infotable1 {
  /* margin: auto; */
}
.tdDiv {
  margin: 5px 0px 0px 0px;
}
.emailicon {
  margin-right: 12px;
  margin-bottom: -3px;
}
.infoTd {
  text-align: left;
  font-family: "Myriad Pro-REGULAR";
  font-size: 15px;
  padding-bottom: 10px;
}
.isocialcondiv {
  /* margin: auto 0 0 0px !important;
  display: block; */
  /* height: 100%; */
  /* display: flex;
  align-items: center; */
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}
.pmargin {
  margin-bottom: 17px;
  font-family: "Myriad Pro-REGULAR";
  font-size: 15px;
  padding-bottom: 10px;
}
.pmargin:hover {
  opacity: 1;
}
.phead {
  margin-bottom: 17px;
  font-weight: bolder;
}
.languagebuttondiv {
  text-align: right;
  margin-right: 10%;
}
.languageButton {
  margin-top: 42px;
  padding: 5px 15px 10px 15px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.languageIcon {
  position: relative;
  left: 0px;
  top: 3px;
  padding-right: 5px;
}

.sign {
  background-color: black !important;
  color: #fff;
  padding: 13px 65px;
  width: 100%;
  display: flex;
  justify-content: right;
  font-family: "Maven Pro", sans-serif;
}
.imgIcon {
  cursor: pointer;
  margin-right: 20px;
}
.imgIcon2 {
  cursor: pointer;
  margin-right: 7px;
  margin-bottom: 15px;
  margin-left: 5px;
  height: 20px;
}
.footer_container {
  position: relative;
}

/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .footerLogo {
    /* margin-left: -15px; */
    /* text-align: center;
    margin: auto; */
  }

  .footerDiv {
    margin-top: 0px;
  }
  .infotable1 {
    padding-left: 0px;

    margin: auto;
  }
  .footer_container {
    padding: 20px 0 0 0 !important;
  }
  .sign {
    padding: 20px 0;
    justify-content: center;
  }
  .footerText {
    margin-left: 0px;
    width: 70%;
    margin: auto;
    text-align: left;
    padding: 20px 0px 20px 0px;
    font-size: 12px;
  }
  .isocialcondiv {
    position: inherit;
    padding-top: 10px;
  }
  .footer_menu {
    padding: 20px 0 0 0 !important;
  }
  .footer_m2 {
    padding: 20px 0 0 0 !important;
  }
  .footer_language {
    padding: 0 0 0 0 !important;
  }
  .f1div {
    padding: 0px 0px 15px 0px;
    margin-left: 0;
    text-align: center;
  }
  .f2div {
    padding: 0px 0px 15px 0px;
    text-align: center;
  }
  .divforsign {
    position: relative;
    min-height: 0px;
  }
  .languageButton {
    margin: auto;
    margin-bottom: 17px;
  }
  .languagebuttondiv {
    margin: inherit;
    text-align: inherit;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1212px) {
  .footerLogo {
    margin-right: 0px;
  }
  .f2div {
    padding: 40px 0px 0px 48px;
    font-size: 14px;
  }
  /* .isocialcondiv {
    margin-left: 70px !important;
  } */
  /* .imgIcon {
    height: 16px !important;
    width: 33px;
  } */
  .sign {
    right: 22px;
  }
  .infoTd {
    font-size: 15px;
  }
  .imgIcon2 {
    cursor: pointer;
    margin-right: 7px;
    margin-bottom: 12px;
    margin-left: 0px;
    /* height: 16px; */
  }
  /* .languageButton {
    margin-top: 0px;
    margin-right: 0px;
  } */
  .languageButton {
    margin-top: 42px;
    /* margin-right: 70px; */
  }
}
@media only screen and (min-width: 1213px) and (max-width: 1500px) {
  /* .imgIcon {
    margin-top: 40px;
    margin-right: -127px;
  } */
  .languageButton {
    margin-top: 19px;
  }
}
