@font-face {
  font-family: Myriad Pro;
  src: url(../../assets/MYRIADPRO-REGULAR.OTF);
}
body {
  font-family: " Myriad Pro", sans-serif;
  /* height: 5000vh; */
}

.privacyH1 {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  margin-bottom: 10px;
  font-family: "AMCAP Eternal", sans-serif;
  font-weight: 100;
  text-shadow: 0px 4px 3px #662f88;
}
/* ------------------------------ Introduction ------------------------------ */
.intro-container {
  width: 100%;
  color: #fff;
}
.intro-centerDiv {
  width: 80%;
  margin: auto;
}
.introHeading {
  width: 83%;
  text-transform: capitalize;
  margin-top: 67px;
  text-align: justify;
}
.introH2 {
  padding-bottom: 33px;
  font-size: 22px;
}
.introP {
  font-size: 18px;
  line-height: 1.8;
}
.introHeading2 {
  padding: 0 0 0 50px;
  text-transform: capitalize;
}
.introHeadingH3 {
  font-size: 18px;
  font-weight: 900;
  padding: 30px 0;
}
.introHeadingH4 {
  font-size: 18px;
  font-weight: 700;
}
.introQuandDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97.4%;
}
.introShowIcon {
  margin-left: auto;
}
.quandUl {
  display: none;
}
.quandUlActive {
  display: block;
  line-height: 0;
}
.introHeadingH4 > li {
  list-style: none;
}
.introLi {
  list-style: none;
  margin-left: 20px;
  line-height: 2;
}
.followwingData-container {
  width: 100%;
  color: #fff;
}
.followwingData-centerDiv {
  width: 80%;
  margin: auto;
}
.followwingDataHeading {
  text-transform: capitalize;
  margin-top: 0px;
  text-align: justify;
}
.followwingDataQuandDiv {
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 10px 0;
}

.followwingDataP2 {
  font-size: 18px;
  padding: 0 0 30px 0;
}
.ProcessingDataH3 {
  font-size: 18px;
  font-weight: 900;
  padding-left: 30px;
}
.TraitementP {
  font-size: 16px;
  line-height: 2;
}
.followwingDataP {
  line-height: 2;
}
.avecNos {
  width: 95%;
  margin: auto;
}
.avacNosH5 {
  padding: 20px 0px;
}
.avacNosP {
  line-height: 2;
}
.ProcessingDataH3Heading {
  padding: 0px 0;
}
.ol {
  padding: 10px 0;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .landingpageLeftimg {
    /* display: block; */
  }
  .privacyH1 {
    text-align: left;
    font-size: 25px;
    width: 77%;
    left: 30px;
  }
  .introHeading {
    width: 100%;
    margin-top: 27px;
    text-align: inherit;
  }
  .introHeading2 {
    padding: 0;
  }
  .followwingData-centerDiv {
    width: 90%;
  }
  .followwingDataQuandDiv {
    width: 100%;
  }
  .intro-centerDiv {
    width: 90%;
  }
  .followwingDataHeading {
    text-align: inherit;
  }
  .introHeadingH4 {
    font-size: 15px;
    font-weight: 100;
  }
  .introQuandDiv {
    width: 100%;
  }
  .ProcessingDataH3 {
    padding: 0;
  }
  .subsclearIcon {
    top: 12px !important;
    right: 15px !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .landingpageLeftimg {
    display: block;
  }
  .privacyH1 {
    text-align: left;
    font-size: 25px;
    width: 77%;
    left: 30px;
  }
  .introHeading {
    width: 100%;
    margin-top: 27px;
  }
  .introHeading2 {
    padding: 0;
  }
  .followwingData-centerDiv {
    width: 90%;
  }
  .followwingDataQuandDiv {
    width: 100%;
  }
  .intro-centerDiv {
    width: 90%;
  }
  .followwingDataHeading {
    text-align: inherit;
  }
  .introHeadingH4 {
    font-size: 15px;
    font-weight: 100;
  }
  .introQuandDiv {
    width: 100%;
  }
  .ProcessingDataH3 {
    padding: 0;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1100px) {
  .landingpageLeftimg {
    display: block;
  }
  .privacyH1 {
    text-align: left;
    font-size: 35px;
    width: 77%;
    left: 30px;
  }
  .introHeading {
    width: 100%;
    margin-top: 27px;
  }
  .introHeading2 {
    padding: 0;
  }
  .followwingData-centerDiv {
    width: 90%;
  }
  .followwingDataQuandDiv {
    width: 100%;
  }
  .intro-centerDiv {
    width: 90%;
  }
  .followwingDataHeading {
    text-align: inherit;
  }
  .introHeadingH4 {
    font-size: 20px;
    font-weight: 100;
  }
  .introQuandDiv {
    width: 100%;
  }
  .ProcessingDataH3 {
    padding: 0;
  }
}
