@font-face {
  font-family: Myriad Pro-REGULAR;
  src: url(../../assets/MYRIADPRO-REGULAR.OTF);
}
.articleBodycontainer {
  width: 68%;
  margin: auto;
  color: white;
}
.articlebodyImage {
  width: 70%;
}
.h1article {
  margin-top: 30px;
  font-family: "Mulish";
  font-weight: 100;
}
.articleimg {
  height: 489px;
  width: 100%;
  border-radius: 20px;
}
.articleavatardiv {
  display: flex;
  margin: 35px 0px 20px 7px;
}
.articleavatardiv2 {
  display: flex;
  margin: 0px 0px 0px 25px;
}
.linediv {
  width: 5px;
  height: 70px;
  background-color: #2d2d2d;
}
.articleavatar {
  width: 45px;
  height: 45px;
}
.articlep1 {
  font-size: 14px;
}
.a_h3 {
  font-weight: 100;
  padding: 5px 0px 0px 15px;
  line-height: 1.7;
}
.articlep2 {
  font-size: 12px;
  padding-top: 3px;
  opacity: 0.5;
}
.articlediv2 {
  margin-left: 10px;
  margin-top: 5px;
  font-family: "Mulish";
}
.articleSocialicon {
  display: flex;
  justify-content: space-evenly;
  margin-top: 33px;
}
.articlesocialicon {
  cursor: pointer;
}
.articleyouMayLikecontainer {
  margin-top: 5px;
  position: relative;
  color: white;
  margin: auto;
  text-align: left;
}

.youMayLikecontainer {
  margin-top: 5px;
  position: relative;
  color: white;
  margin: auto;
  text-align: left;
}

/* html css */
.htmlmaindiv {
  width: 90%;
  font-family: "Mulish";
  font-weight: 100;
  color: #dfdfdf;
}
.htmlp1 {
  font-size: 16px;
  line-height: 1.6;
  padding-top: 30px;
  color: white;
}
.htmlp2 {
  font-size: 16px;
  line-height: 1.6;
  padding-top: 30px;
  color: white;
}
.htmlh4 {
  font-size: 19px;
  font-weight: 100;
  line-height: 1.6;
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
}
.htmlul {
  padding-left: 55px;
  line-height: 2.4;
}
/* .htmlmaindiv {
  color: red;
  background-color: green;
  text-align: left;
} */
.htmlmaindiv > figure > img {
  width: 100%;
}
.htmlmaindiv > p > strong {
  margin-left: -177px !important;
}

/* for big screens */
@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  /* .articleBodycontainer {
    width: 50%;
  } */
}

/* for mobile */
/* @media only screen and (min-width: 813px) and (max-width: 1200px) {
  .articleimg {
    height: 400px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .articleBodycontainer {
    width: 90%;
  }
  .h1article {
    font-size: 17px;
  }
  .articleavatardiv2 {
    width: 140%;
    font-size: 11px;
  }
  .articleimg {
    height: 180px;
  }
} */
