/* landing partner header css */
@font-face {
  font-family: Myriad Pro;
  src: url(../../assets/MYRIADPRO-BOLD.OTF);
}
.border_line {
  height: 150px;
  border-color: #383838;
  margin-top: 20px;
}
.MuiGrid-grid-md-4 {
  flex-grow: 0;
  max-width: 33% !important;
  flex-basis: 33% !important;
}
.landing-partner-img-container {
  text-align: center;
  width: 90%;
  margin: 20px auto;
  position: relative;
  color: #fff;
  margin-bottom: 150px;
}
.landing-partner-header-img {
  width: 100%;
}
.landing-partner-text-container {
  text-align: center;
  line-height: 50px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-partner-header {
  font-size: 45px;
  text-transform: uppercase;
  font-family: "AMCAP Eternal", sans-serif;
  font-weight: 100;
  text-shadow: 0px 4px 3px #662f88;
}
.partnerTextHeading {
  font-weight: 600 !important;
  font-family: "Myriad Pro";
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 8px;
  text-transform: uppercase;
  text-shadow: 0px 3px 3px #662f88;
}
.landing-partner-pargraph {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Myriad Pro";
  font-weight: 600;
  text-shadow: 0px 4px 3px #662f88;
}
.btn-landing-partner {
  padding: 12px 35px;
  background-color: transparent;
  color: #fff;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  border-radius: 6px;
  margin: 20px 10px 0px 10px;
  cursor: pointer;
  border: none;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  border: 1px solid #662f88;
}
.btn-landing-partner:hover {
  background: none;
}
.partnerdiv1 {
  padding: 0 0px;
}
.divpadding {
  padding: 0 33px;
}

/* landing partner different company logos c-colorss */
.landing-partner-logo-container {
  text-align: center;
  width: 80%;
  margin: 50px auto;
  position: relative;
  color: #fff;
}
.landing-partner-fedex-img {
  margin-top: -9px;
}
.landing-partner-arrow {
  position: relative;
}
.myStylep {
  color: #fff !important;
  font-size: 26px;
  font-family: "Myriad Pro";
  font-weight: 900;
  text-shadow: 0px 4px 3px #662f88;
  text-transform: uppercase;
  line-height: 1.7;
}

.myStyle {
  animation: MoveUpDown 1.5s ease-in-out;
  /* height: 600px; */
}
@keyframes MoveUpDown {
  from {
    padding-top: 0px;
    top: -50px;
    opacity: 0;
  }
  to {
    /* padding-top: 20px; */
    opacity: 1;
    top: 0;
    font-size: 30px;
  }
}
/* Media Queries */

/* for big screens */
@media only screen and (min-width: 1900px) {
  .landing-partner-header {
    font-size: 55px;
  }
  .landing-partner-pargraph {
    font-size: 26px;
  }
}
@media all and (min-width: 901px) and (max-width: 1200px) {
  .landing-partner-text-container {
    white-space: nowrap;
  }

  .landing-creator-logo-spacing {
    padding: 20px 0px;
  }
  .landing-partner-arrow {
    display: none;
  }
  .community-block {
    border-right: none;
    width: 100%;
    margin: auto;
  }
  .myStylep {
    font-size: 12px;
    line-height: 1.5;
  }
  .divpadding {
    padding: 0 0;
  }
  .partnerdiv1 {
    padding: 0 9px;
  }
  .partnerTextHeading {
    font-size: 20px;
  }
  .community-content-pargraph {
    font-size: 16px;
  }
}
@media all and (min-width: 601px) and (max-width: 900px) {
  .landing-partner-text-container {
    white-space: nowrap;
  }
  .landing-partner-header {
    font-size: 36px !important;
  }
  .landing-partner-pargraph {
    font-size: 18px;
  }
  .landing-creator-logo-spacing {
    padding: 20px 0px;
  }
  .landing-partner-arrow {
    display: none;
  }
  .community-block {
    border-right: none;
    width: 100%;
    margin: auto;
    padding: 0;
  }
  .myStylep {
    font-size: 12px;
    line-height: 1.5;
  }
  .border_line {
    display: none;
  }
  .MuiGrid-spacing-xs-2 > .MuiGrid-item {
    margin: auto;
  }
  .partnerTextHeading {
    font-size: 17px;
  }
  .community-content-pargraph {
    font-size: 12px;
  }
  .divpadding {
    padding: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .MuiGrid-grid-md-4 {
    flex-grow: 0;
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
  .landing-partner-text-container {
    line-height: 30px;
    white-space: nowrap;
  }
  .landing-partner-header {
    font-size: 25px;
  }
  .landing-partner-pargraph {
    font-size: 10px;
  }
  .MuiGrid-spacing-xs-6 {
    width: calc(80% + 48px) !important;
    margin: -24px;
  }
  .myStylep {
    font-size: 8px;
    line-height: 1.3;
  }
  .landing-partner-img-container {
    width: 95%;
    margin: 0px auto;
  }
  .btn-landing-partner {
    padding: 7px 9px;
    margin: 7px 10px 0px 10px;
  }
  .divpadding {
    padding: 0 0;
  }
  .myStyle {
    display: none;
  }
  .landing-partner-arrow {
    display: none;
  }
  .partnerTextHeading {
    font-size: 14px;
  }
  .border_line {
    display: none;
  }
  .community-block {
    border-right: none;
    width: 100%;
    margin: auto;
  }
  .MuiGrid-spacing-xs-2 {
    flex-direction: column !important;
  }
  .MuiGrid-grid-xs-12 {
    /* margin: auto !important; */
    margin: 0px 0 15px 0 !important;
  }
  .User-landing-page-blog-divone {
    margin-bottom: 30px !important;
  }
}
