/* landing partner header css */
.landing-partner-img-container {
  text-align: center;
  width: 90%;
  margin: 20px auto;
  position: relative;
  color: #fff;
}
.landing-partner-header-img {
  width: 100%;
}
.landing-partner-text-container {
  text-align: center;
  line-height: 50px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-partner-header {
  font-size: 50px;
}
.partnerTextHeading {
  font-weight: 100 !important;
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 8px;
}
.landing-partner-pargraph {
  font-size: 18px;
  opacity: 0.6;
}
.btn-landing-partner {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #202342;
  border-radius: 6px;
  margin: 20px 10px 0px 10px;
  cursor: pointer;
}
.btn-landing-partner:hover {
  background-color: #e7411b;
}

/* landing partner different company logos css */
.landing-partner-logo-container {
  text-align: center;
  width: 80%;
  margin: 50px auto;
  position: relative;
  color: #fff;
}
.landing-partner-fedex-img {
  margin-top: -9px;
}
.landing-partner-arrow {
  position: relative;
}
.myStylep {
  color: red !important;
}

.myStyle {
  animation: MoveUpDown 1.5s ease-in-out;
  /* height: 600px; */
}
@keyframes MoveUpDown {
  from {
    padding-top: 0px;
    top: -50px;
    opacity: 0;
  }
  to {
    /* padding-top: 20px; */
    opacity: 1;
    top: 0;
    font-size: 30px;
  }
}
/* Media Queries */
@media all and (max-width: 959px) {
  .landing-partner-text-container {
    white-space: nowrap;
  }
  .landing-creator-logo-spacing {
    padding: 20px 0px;
  }
  .landing-partner-arrow {
    display: none;
  }
  .community-block {
    border-right: none;
  }
}

/* for big screens */
@media only screen and (min-device-width: 1500px) and (max-device-width: 1900px) {
  .landing-partner-header {
    font-size: 66px;
  }
  .landing-partner-pargraph {
    font-size: 25px;
    margin-top: 15px;
    opacity: 0.6;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 820px) {
  .landing-partner-text-container {
    line-height: 30px;
    white-space: nowrap;
  }
  .landing-partner-header {
    font-size: 25px;
  }
  .landing-partner-pargraph {
    font-size: 10px;
  }
  .MuiGrid-spacing-xs-6 {
    width: calc(80% + 48px) !important;
    margin: -24px;
  }
  .myStylep {
    font-size: 13px;
  }
}
