.content_container {
  text-align: center;
  margin-top: 5px;
  position: relative;
  color: white;
}
.textonImgcontent {
  position: absolute;
  top: 18%;
  left: 9%;
  text-align: left;
}
.textH1 {
  font-size: 4.7em;
}
.textonP {
  opacity: 0.7;
  font-size: 20px;
  margin-top: 500px;
  padding: 5px 0px 5px 0px;
  margin: 8px 0px 28px 0px;
}
.textonbutton {
  padding: 10px 18px 10px 18px;
  border: none;
  margin: 8px 0px 8px 0px;
  background-color: #e7411b;
  color: white;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
  cursor: pointer;
}
.content_Image {
  width: 93%;
}
.blurIm {
  width: 93%;
  position: absolute;
  left: 48px;
  opacity: 0.5;
}
/* for big screens */
@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  .content_Image {
    width: 94%;
  }
  .textonImgcontent {
    top: 17%;
    left: 7%;
  }

  .textH1 {
    font-weight: 900;
    font-size: 4.5em;
  }
  .textonP {
    font-size: 23px;
  }
  .textonP {
    opacity: 0.7;
    font-size: 24px;
    margin: 12px 0px 40px 0px;
  }
}
/* for mobile */
@media only screen and (max-width: 480px) {
  .content_container {
    margin-top: 0px;
  }
  .textonImgcontent {
    top: -1%;
    left: 6%;
  }
  .textH1 {
    padding: 20px 0 0 0;
    font-size: 1.2em;
  }
  .textonP {
    padding: 0px 0px 5px 0px;
    margin: 8px 0px 8px 0px;
    font-size: 12px;
  }
  .textonbutton {
    padding: 3px;
    margin: 4px 0px 34px 0px;
  }
}
/* for Tablet  */
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .textH1 {
    font-size: 1.8em;
  }
  .textonP {
    opacity: 0.7;
    font-size: 15px;
    margin: 12px 0px 12px 0px;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1212px) {
  .textH1 {
    font-size: 2.8em;
  }
  .textonP {
    opacity: 0.7;
    font-size: 17px;
    margin: 12px 0px 40px 0px;
  }
}
