@font-face {
  font-family: Myriad Pro-REGULAR;
  src: url(../../assets/MYRIADPRO-REGULAR.OTF);
}
@font-face {
  font-family: Myriad Pro;
  src: url(../../assets/MYRIADPRO-BOLD.OTF);
}

.content_container {
  text-align: center;
  margin-top: 5px;
  position: relative;
  color: white;
}
.textonImgcontent {
  position: absolute;
  top: 30%;
  left: 9%;
  text-align: left;
}
.textH1 {
  font-size: 56px;
  font-weight: 800;
}
.textonP {
  font-size: 22px;
  margin-top: 500px;
  padding: 5px 0px 5px 0px;
  margin: 15px 0px 0px 0px;
  color: #fff !important;
}
.textonbutton {
  padding: 10px 16px;
  border: none;
  margin: 107px auto 30px auto;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.textonbutton:hover {
  background: none;
  border: 1px solid gray;
  padding: 9px 15px;
}
.content_Image {
  width: 93%;
}
.blurIm {
  width: 93%;
  position: absolute;
  left: 48px;
  opacity: 0.5;
}
/* for big screens */
@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  .content_Image {
    width: 94%;
  }
  .textonImgcontent {
    top: 21%;
    left: 7%;
  }

  .textH1 {
    font-weight: 900;
    font-size: 4em;
  }
  .textonP {
    font-size: 23px;
  }
  .textonP {
    font-size: 24px;
    /* margin: 12px 0px 40px 0px; */
  }
}
/* for mobile */
@media only screen and (max-width: 480px) {
  .content_container {
    margin-top: 0px;
  }
  .textonImgcontent {
    top: -1%;
    left: 6%;
  }
  .textH1 {
    padding: 0px 0 0 0;
    font-size: 1em;
  }
  .textonP {
    padding: 0px 0px 5px 0px;
    margin: 8px 0px 8px 0px;
    font-size: 12px;
  }
  .textonbutton {
    padding: 3px;
    margin: 4px 0px 34px 0px;
    font-size: 10px;
  }
}
/* for Tablet  */
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .textH1 {
    font-size: 1.1em;
  }
  .textonP {
    font-size: 15px;
    margin: 12px 0px 12px 0px;
  }
  .textonbutton {
    padding: 8px 14px;
    margin: 0px auto 0px auto;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1212px) {
  .textH1 {
    font-size: 2.4em;
  }
  .textonP {
    font-size: 17px;
    margin: 12px 0px 8px 0px;
  }
}
