.Bodycontainer {
  text-align: center;
  margin-top: 5px;
  position: relative;
  color: white;
}
.textonImg {
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.textonImg h1 {
  font-size: 2.7em;
}
.textonImg p {
  padding: 5px 0px 5px 0px;
  margin: 8px 0px 8px 0px;
}
.textonImg button {
  padding: 8px;
  border: none;
  margin: 8px 0px 8px 0px;
  background-color: #e7411b;
  color: white;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
  cursor: pointer;
}
.bodyImage {
  width: 93%;
}
.blurImg {
  width: 93%;
  position: absolute;
  left: 48px;
}
/* for big screens */
@media only screen and (min-device-width: 1500px) and (max-device-width: 1900px) {
  .bodyImage {
    width: 94%;
  }
  .blurImg {
    width: 94%;
    left: 55px;
  }
  .textonImg {
    left: 20%;
  }
  .textonImg h1 {
    font-size: 3em;
  }
}
