.Bodycontainer {
  text-align: center;
  position: relative;
  color: white;
  background-color: black;
}
.textonImg {
  position: absolute;
  top: 7%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.textimgH1 {
  font-size: 2.7em;
}
.textonImgP {
  padding: 5px 0px 5px 0px;
  margin: 8px 0px 8px 0px;
  opacity: 0.7;
}
.textonImgbutton {
  padding: 8px;
  border: none;
  margin: 8px 0px 8px 0px;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: white;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  cursor: pointer;
}
.bodyImage {
  width: 93%;
}
.blurImg {
  width: 93%;
  position: absolute;
  left: 48px;
}
/* for big screens */
@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  .bodyImage {
    width: 94%;
  }
  .blurImg {
    width: 94%;
    left: 40px;
  }

  .textonImg {
    left: 25%;
  }

  .textimgH1 {
    font-size: 3em;
  }
  .textonImgP {
    font-size: 18px;
    opacity: 0.7;
  }
}

/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .blurImg {
    left: 13px;
  }
  .textonImg {
    position: absolute;
    top: 70px;
    left: 36%;
    text-align: left;
    z-index: 1;
  }
  .textimgH1 {
    font-size: 0.9em;
  }
  .textonImgbutton {
    padding: 4px;
    margin: 4px 0px 0px 0px;
  }
}
