/* for background color of avbar */
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #0e0f1e !important;
}
.headerBackgroundColor {
  background-color: #0e0f1e !important;
}
/* whole navbar */
.css-1t29gy6-MuiToolbar-root {
  padding-left: 40px !important;
}
.searchBar {
  width: 50% !important;
  border-radius: 60px !important;
}
.css-96uuyl {
  background-color: #202342 !important;
}
.iconseperate {
  padding: 0px 10px 0px 10px;
  position: relative;
  top: -3px;
  opacity: 0.7;
}
.downarrow {
  position: relative;
  left: 7%;
  width: 13px;
  cursor: pointer;
}
.css-l2l88c {
  margin-left: 74px !important;
}
.sgnBtn {
  cursor: pointer;
}
.headerLinkbox {
  width: 35% !important;
}

/* for big screens */
@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  .searchBar {
    width: 55% !important;
  }
  .downarrow {
    position: relative;
    left: 4.7%;
    width: 13px;
  }
}
/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .searchBar {
    width: 70% !important;
    margin-left: 27px !important;
  }
  .downarrow {
    left: 17%;
    display: none;
  }
  .css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: #0e0f1e !important;
    color: #fff !important;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    width: 100% !important;
    justify-content: initial !important;
  }
  .closeMenu {
    /* margin: 0 20px; */
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .opnPrfil {
    padding: 2px 0 0 10px !important;
  }
  .imgLogo {
    margin-left: -28px !important;
  }
}
