/* for background color of avbar */
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: black !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #fff !important;
}
.css-1kcggdq-MuiInputBase-root .MuiInputBase-input {
  padding-left: calc(1.7em + 32px) !important;
}
.headerBackgroundColor {
  background-color: black !important;
}
/* whole navbar */
.css-1t29gy6-MuiToolbar-root {
  padding-left: 67px !important;
}
.searchBar {
  width: 23% !important;
  border-radius: 60px !important;
}
.css-96uuyl {
  background-color: #202342 !important;
}
.iconseperate {
  padding: 0px 10px 0px 10px;
  position: relative;
  top: -3px;
  opacity: 0.7;
}
.iconseperate2 {
  margin: 0 0 0 -37px;
}
.walletInputMenu {
  width: 100%;
  color: #fff !important;
  margin: 0 !important;
  font-size: 12px !important;
  justify-content: left !important;
  padding: 10px !important;
  cursor: pointer;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: #202342 !important;
}
.downarrow {
  position: relative;
  left: 11.7%;
  width: 13px;
  cursor: pointer;
}
.css-l2l88c {
  margin-left: auto !important;
  margin-right: 24px;
  width: 44% !important;
  align-items: center;
}
.sgnBtn {
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}
.headerLinkbox {
  width: 35% !important;
}
.requestBtn {
  padding: 10px 40px;
  border: none;
  margin: 13px 13px 8px 0;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}
.dropbtn {
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  background: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  left: 45px;
  z-index: 5;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 260px;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  background-color: #202342;
  text-decoration: none;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #292d55;
}
.UserIcons {
  margin-right: 10px;
}
.drowpP {
  font-size: 10px;
  margin-left: 24px;
}
/* for big screens */
@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  .searchBar {
    width: 23% !important;
  }
  .downarrow {
    position: relative;
    left: 11.7%;
    width: 13px;
  }
}
/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .searchBar {
    width: 70% !important;
    margin-left: 27px !important;
  }
  .downarrow {
    left: 17%;
    display: none;
  }
  .css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: #0e0f1e !important;
    color: #fff !important;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    width: 100% !important;
    justify-content: initial !important;
  }
  .closeMenu {
    /* margin: 0 20px; */
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .opnPrfil {
    padding: 2px 0 0 10px !important;
  }
  .imgLogo {
    margin-left: -28px !important;
  }
}
