/* Importing all CSS files */
@import url("./Header.css");
@import url("./Body.css");
@import url("./TopCourses.css");
@import url("./LatestCourses.css");
@import url("./TopratedContent.css");
@import url("./Request.css");
@import url("./RankingList.css");
@import url("./Blog.css");
@import url("./blog/BlogBody.css");
@import url("./blog/LatestArticle.css");
@import url("./blog/YouMayLike.css");
@import url("./blog/BlogFooter.css");
@import url("./article/article.css");
@import url("./about/About.css");
@import url("./about/WhoWeAre.css");
@import url("./about/UserReview.css");
@import url("./about/GetStarted.css");
@import url("./ContentHome/content.css");
@import url("./ContentHome/WhyTech.css");
@import url("./ContentHome/Happy.css");
@import url("./ContentHome/HowToTech.css");
@import url("./landingPage/landingpage.css");
@import url("./UserLandingPage/UserLandingPage.css");
@import url("./UserLandingPage/verticleCarousal.css");
@import url("./ContentCreatorLandingPage.css/contentcreator.css");
@import url("./LandingPartner/LandingPartner.css");
@import url("./SearchResult/SearchResult.css");
@import url("./dashboard/dashboard.css");
@import url("./form/CreateForm.css");
@import url("./form/Login.css");
@import url("./form/LoginDetail.css");
@import url("./form/OptionPopup.css");
@import url("./form/SubscriptionPopup.css");
@import url("./dashboard/earning.css");
@import url("./dashboard/createCourse.css");
@import url("./dashboard/setting.css");
@import url("./dashboard/FormStepone.css");
@import url("./dashboard/FormStepTwo.css");
@import url("./dashboard/FormStepThree.css");

/* Defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish";
}

/* Primary Variables */
:root {
  --primary: "green";
}
