/* Importing all CSS files */

@import url("./Header.css");
@import url("./Body.css");
@import url("./TopCourses.css");
@import url("./LatestCourses.css");
@import url("./TopratedContent.css");
@import url("./Request.css");
@import url("./RankingList.css");
@import url("./Blog.css");
@import url("./blog/BlogBody.css");
@import url("./blog/LatestArticle.css");
@import url("./blog/YouMayLike.css");
@import url("./blog/BlogFooter.css");
@import url("./article/article.css");
@import url("./about/About.css");
@import url("./about/WhoWeAre.css");
@import url("./about/UserReview.css");
@import url("./about/GetStarted.css");
@import url("./ContentHome/content.css");
@import url("./ContentHome/WhyTech.css");
@import url("./ContentHome/Happy.css");
@import url("./ContentHome/HowToTech.css");
@import url("./landingPage/landingpage.css");
@import url("./UserLandingPage/UserLandingPage.css");
@import url("./UserLandingPage/verticleCarousal.css");
@import url("./ContentCreatorLandingPage.css/contentcreator.css");
@import url("./LandingPartner/LandingPartner.css");
@import url("./SearchResult/SearchResult.css");
@import url("./dashboard/dashboard.css");
@import url("./form/CreateForm.css");
@import url("./form/Login.css");
@import url("./form/LoginDetail.css");
@import url("./form/OptionPopup.css");
@import url("./form/SubscriptionPopup.css");
@import url("./dashboard/earning.css");
@import url("./dashboard/createCourse.css");
@import url("./dashboard/setting.css");
@import url("./dashboard/FormStepone.css");
@import url("./dashboard/FormStepTwo.css");
@import url("./dashboard/FormStepThree.css");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&family=Mulish&display=swap");

/* Defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "AMCAP Eternal", sans-serif; */
  /* font-weight: 100; */
  /* background-color: black !important; */
}

/* Primary Variables */
:root {
  --primary: "green";
}

/* 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
  margin: 0; 
  padding: 0; 
  color: inherit; 
} 
 

button,input,select,textarea { 
  font-family: inherit; 
  font-size: inherit; 
  line-height: inherit; 
  color: inherit; 
} 
 
ul, 
ol { 
  list-style: none; 
}  */
