.css-8ocs45 {
  flex-basis: 100% !important;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 100% !important;
}

.latestCoursescontainer {
  margin-top: 5px;
  position: unset !important;
  color: white;
  margin: auto;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.latestcourseHeadingDiv {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin: auto;
}
.latestcourseheading {
  padding: 35px 0px 3px 0px;
  font-size: 22px;
  font-weight: 600;
}
.latestcourseheadings {
  padding: 35px 0px 3px 0px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.courseimg {
  width: 100%;
  padding: 17px;
  border-radius: 10%;
  height: 390px;
  margin: auto;
  display: block;
  object-fit: cover;
}
.startcourseimg {
  height: 290px !important;
}

.dashbordHeading-div {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
.editIcon2 {
  padding-left: 15px;
}
.latestcourseh6 {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 20px 0px 20px 25px;
}
.latestcoursep1 {
  padding: 5px 0px 0px 20px;
  font-size: 12px;
  opacity: 0.8;
}
.carousalOuterDiv {
  width: 95%;
  margin: auto;
}
/* right arrow */
.react-multiple-carousel__arrow--right {
  background-color: transparent !important;
  right: 4px !important;
}
.react-multiple-carousel__arrow::before {
  font-size: 30px !important;
}
.react-multiple-carousel__arrow:hover {
  color: green !important;
}
/* left arrow */
.react-multiple-carousel__arrow--left {
  left: 2px !important;
  background-color: transparent !important;
}
.react-multi-carousel-list {
  position: unset !important;
  overflow-x: hidden !important;
}
.researchErrorImg {
  text-align: center;
  margin: auto;
}
.researchP {
  font-size: 20px;
  padding: 20px 0px;
}
/* -------------------------------- new card --------------------------------   */
.latestCourseMain-Div {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
  align-items: center;
}
.latestCouse-colmn {
  /* border: 1px solid red; */
  /* width: 33.33%; */
}
.latestCourse-colmn-centerDiv {
  display: flex;
  padding: 8px 0px;
  align-items: center;
}
.latestCourse-h4 {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 23px;
  font-family: Mulish;
}
.latestCourse-p {
  padding: 0 0 0 6px;
  /* font-size: 18px; */
  font-family: Mulish;
  font-size: 14px !important;
  font-weight: 400 !important;
  text-transform: capitalize;
}
/* -------------------------------- new card --------------------------------   */
/* -------------------------------- wishlist --------------------------------   */
.wishlistDiv {
  width: 80%;
  margin: 0 auto;
}

.cardGrid2 {
  display: flex;
  align-items: center;
  background-color: #202342;
  margin: 12px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin-top: 30px;
}
.wishList-container {
  padding-left: 30px;
}

.wishCardStar {
  width: 15px;
  height: 15px;
  color: red;
  margin-top: 3px;
  position: relative;
  top: 3px;
}
.wishCardh3 {
  padding: 10px;
  border-bottom: 1px solid gray;
}
.wishCard-P {
  padding: 10px;
}
.requestBt2 {
  text-decoration: none;
  width: 30%;
  margin: auto;
}
.startcourse2 {
  text-decoration: none;
  width: 100%;
  margin: auto;
}
.wishListh4 {
  font-size: 28px;
}
.wishButtonDiv {
  margin-left: auto;
}
.wishListBtn {
  font-size: 23px;
  padding: 10px 20px;
  margin-right: 40px;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  border-radius: 4px;
  border: none;
}
.wishlistP {
  font-size: 22px;
}
.wishlistP3 {
  padding: 20px 0;
}
.wishlistP4 {
  padding: 10px 0 0 0;
}
.creatorCard2 {
  display: flex;
  justify-content: space-between;
  /* margin: 20px 0; */
}
.cardGrid_List {
  width: 30%;
}
.userProfile_conteiner2 {
  width: 80%;
  margin-left: 50px;
}
.dashboardSetting {
  width: 80%;
}
.tags-input2 {
  width: 50%;
  background-color: #1d1f38;
}
.selectInput2 {
  width: 35% !important;
}
.userProfileButton2 {
  width: 35% !important;
}
/* -------------------------------- wishlist --------------------------------   */

/* for mobile */
@media only screen and (min-width: 300px) and (max-width: 812px) {
  .cardGrid {
    text-align: left;
  }
  .latestcourseheading {
    font-size: 17px;
  }
  .requestBt2 {
    text-decoration: none;
    width: 37%;
    margin: auto;
  }
  .latestCourse-h4 {
    font-size: 17px;
  }
}
