.requestContainer {
  background: linear-gradient(
    90.12deg,
    #202342 22.77%,
    rgba(38, 38, 72, 0) 129.88%
  ) !important;
  border-radius: 45px !important;
  width: 95% !important;
  margin: 4% auto 4% auto !important;
  padding: 4% 0px 4% 0px;
  font-family: mulish;
}
.requestHeading {
  padding: 5px;
}
.requestContent {
  opacity: 0.7;
  line-height: 1.5;
}
.requestButton {
  padding: 10px 16px;
  border: none;
  margin: 15px 0px 10px 0px;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  font-family: "mulish";
}
.requestButton:hover {
  background: none;
  border: 1px solid gray;
  padding: 9px 15px;
}

/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .requestHeading {
    font-size: 20px;
  }
  .requestContent {
    font-size: 14px;
  }
  .br {
    display: none;
  }
  .requestButton {
    padding: 8px 16px;
    font-size: 14px;
  }
  .requestContent {
    padding: 0 10px;
  }
  .requestContainer {
    border-radius: 15px !important;
  }
}
