.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: #fff !important;
}

.topCoursescontainer {
  margin-top: 5px;
  position: relative;
  color: white;
  width: 93%;
  margin: auto;
  text-align: left;
  font-family: "mulish";
}
.topCoursesDiv {
  max-width: 33% !important;
  height: auto;
}
.topcourseheading {
  padding: 30px 0px 25px 0px;
  font-weight: bolder;
  font-size: 22px !important;
}
.topcourseheadings {
  padding: 30px 0px 25px 0px;
  font-weight: bolder;
  font-size: 15px !important;
}
.topCourseGrid {
  background: linear-gradient(
    90.12deg,
    #202342 22.77%,
    rgba(38, 38, 72, 0) 129.88%
  ) !important;
  border-radius: 50px !important;
  padding: 5px;
}
.topcourseimg {
  width: 100%;
  padding: 10px;
  height: 326px !important;
  border-radius: 50px;
  object-fit: cover;
}
.topcourseTextGrid {
  padding: 30px 20px 30px 20px !important;
}
.topcourseText {
  padding-top: 10px;
  opacity: 0.7 !important;
  font-size: 22px;
}
.p1 {
  font-size: 16px;
  font-weight: 700;
}
.p2 {
  padding-top: 2px;
  font-size: 12px;
  opacity: 0.8;
}
.div2 {
  margin-left: 5px;
}
.topcourseuserGrid {
  margin-top: 8% !important;
}
.topcourseuserRightGrid {
  margin-top: 4% !important;
}
.marginRight {
  margin-right: 20px;
  font-size: 13px;
}
.userprofilediv {
  display: flex;
  margin-top: 2px;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5px;
}
.activeIndicator {
  /* color: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  background: linear-gradient(65.06deg, #662f88 2.05%, #20bf55 111.69%); */
}
.Carousel-button-11 {
  display: none !important;
}

.topcoursecarousal {
  overflow: inherit !important;
}
.starID {
  /* color: #662f88 !important; */
  color: linear-gradient(65.06deg, #662f88, #20bf55 131.69%) !important;
  margin: 5px 0px -3px 0px;
}
/* for big screens */
@media only screen and (min-width: 1600px) and (max-width: 2000px) {
  .h3heading {
    font-size: 30px;
  }
  .topcourseuserGrid {
    margin-top: 14% !important;
  }
  .topcourseText {
    opacity: 0.7 !important;
    font-size: 21px;
    padding: 9px 0 17px 0;
    line-height: 1.7;
  }
  .marginRight {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .h3heading {
    font-size: 22px;
  }
  .topcourseuserGrid {
    margin-top: 14% !important;
  }
  .topcourseText {
    opacity: 0.7 !important;
    font-size: 18px;
    padding: 7px 0 10px 0;
    line-height: 1.7;
  }
  .marginRight {
    font-size: 15px;
  }
  /* .courseimg {
    height: 300px !important;
  } */
  .topRatedcourseimg {
    /* height: 300px !important; */
  }
}
/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .h3heading {
    font-size: 17px;
  }
  .topcourseText {
    font-size: 15px;
  }
  .topcourseheading {
    font-size: 28px;
  }
  .topCourseGrid {
    border-radius: 15px !important;
  }
  .topcourseimg {
    border-radius: 15px;
  }
}
