.topRatedContentcontainer {
  margin-top: 5px;
  position: unset !important;
  color: white;
  margin: auto;
  text-align: left;
  font-family: mulish;
}
.topRatedContentHeadingDiv {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin: auto;
}
.topRatedheading {
  padding: 28px 0px 38px 0px;
  font-size: 28px;
  font-weight: 700;
}
.topRatedheadings {
  padding: 32px 0px 38px 0px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Mulish";
  font-weight: 600;
}

.topRatedcardGrid {
  background: linear-gradient(
    90.12deg,
    #202342 22.77%,
    rgba(38, 38, 72, 0) 129.88%
  ) !important;
  border-radius: 44px !important;
  width: 95% !important;
  margin: auto !important;
}
tr {
  background-color: black !important;
}
.topRatedcardGrid-image {
  width: 92%;
  margin: 0px auto;
  height: 265px;
  object-fit: contain;
  padding: 20px 0px 12px 0px;
  border-radius: 44px;
}
.topRatedcourseimg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.latestcourseh5 {
  padding-left: 25px;
  font-size: 18px;
  text-align: center;
}
.topRatedContentcourseh6 {
  font-size: 15px;
  font-weight: 0px;
  margin-bottom: 10px;
  padding: 10px 0px 15px 25px;
}
.latestcoursep1 {
  padding: 5px 0px 0px 25px;
  font-size: 12px;
  opacity: 0.8;
}
.TopRatedcarousalOuterDiv {
  width: 95%;
  margin: auto;
}

/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .topRatedcardGrid {
    text-align: left;
    border-radius: 15px !important;
  }
  .topRatedcardGrid-image {
    height: 250px;
  }
  .cardGrid {
    border-radius: 15px !important;
  }
}
/* @media only screen and (min-width: 813px) and (max-width: 212px) {
  .topRatedcardGrid-image {
    height: 250px;
  }
} */
