@font-face {
  font-family: Myriad Pro;
  src: url(../../assets/MYRIADPRO-REGULAR.OTF);
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: #15162c !important;
  width: 100% !important;
  margin: auto !important;
  border-radius: 15px !important;
  overflow: hidden !important;
  max-width: 600px !important;
}

.css-1ycxvqq-MuiSwitch-root {
  width: 45px !important;
}

.MuiInput-underline:before {
  border-bottom: none !important;
}
.dialogforForm {
  overflow-y: inherit !important;
}
.login_form {
  width: 100%;
  padding: 5px 30px 0 30px;
  display: flex;
  background-color: #15162c;
  color: #fff;
  margin: auto;
  flex-direction: column-reverse;
  font-family: "Myriad Pro";
  opacity: 0.8;
}
.loginH1 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 8px 0px;
  display: inline-block;
  opacity: 0.9;
}
.clearIcon {
  float: right;
  margin: 15px -20px;
  cursor: pointer;
  font-weight: 900 !important;
  width: 25px !important;
}
.login_pera {
  font-size: 14px;
  margin-bottom: 30px;
  opacity: 0.8;
}
.loginFH1 {
  display: block;
  padding-bottom: 5px;
  font-size: 13px;
  font-family: "Mulish";
  padding-top: 5px;
}
.form_container .inputForm {
  padding-left: 10px;
  width: 100%;
  height: 41px;
  background: none;
  border: 1px solid #636060;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  color: currentColor;
  opacity: 0.7;
}
.bldText {
  font-weight: 600 !important;
}
.showPass {
  padding-right: 10px !important;
  color: #fff !important;
  margin-right: 10px !important;
}
.for_get {
  color: #fff;
  cursor: pointer;
}
.forget {
  position: absolute;
  right: 35px;
  padding-top: 0px;
  font-size: 13px;
}
.form_container .formbtns {
  padding: 7px;
  border: none;
  background: linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  display: block;
  margin-top: 35px;
  font-weight: 500;
  border: 1px solid #7d668b;
}
.form_container .formbtns:hover {
  background: none;
}
.form_container .or {
  display: inline;
  position: absolute;
  margin: -8px 9px;
  color: #fff;
}
.lines {
  margin-top: 27px;
  color: gray;
}
.line1 {
  width: 46%;
  float: left;
  border-color: gray;
}
.line2 {
  width: 46%;
  float: right;
  border-color: gray;
}
.social {
  display: flex;
  justify-content: space-between;
}
.social span {
  display: block;
  border: 1px solid #636060;
  padding: 13px 35px 8px 35px;
  cursor: pointer;
  margin-top: 30px;
}
.signPera {
  display: flex;
  margin-top: 30px;
  margin-bottom: 25px;
  color: #fff;
}
.sgnUpBtn {
  display: inline;
  background: none;
  border: none;
  margin: 0 5px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  background: linear-gradient(30.06deg, #662f88 9.05%, #20bf55 55.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "mulish";
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .social span {
    display: block;
    border: 1px solid #636060;
    padding: 12px 28px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .form_container .or {
    margin: -8px 3px;
  }
}
