.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  /* background: none !important; */
  background-color: #15162c !important;
  width: 100% !important;
  margin: auto !important;
  border-radius: 15px !important;
  overflow: hidden !important;
  max-width: 500px !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-height: calc(100% - 0px) !important;
}
.login_Details {
  width: 100%;
  display: flex;
  background-color: #15162c;
  color: #fff;
  margin: auto;
  flex-direction: column-reverse;
  padding: 0 30px;
}
.detailH1 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 8px 0px;
  display: inline-block;
  font-weight: 500;
}
.detail_pera {
  font-size: 14px;
  margin-bottom: 30px;
  opacity: 0.7 !important;
}
.teachP {
  display: block;
  padding-bottom: 5px;
  opacity: 0.7;
  font-size: 13px;
}
.Details_container .detailInput {
  padding-left: 10px;
  width: 100%;
  height: 41px;
  background: none;
  border: 1px solid #636060;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  color: currentColor;
  opacity: 0.7;
}

.labelP {
  margin: 12px 0;
  opacity: 0.7;
  font-size: 12px !important;
}
.cInput {
  opacity: 0.7;
  margin-left: 7px;
}
.cirleInput {
  color: #fff !important;
  margin-left: 7px;
  opacity: 0.6;
  padding: 0px 0;
  display: inline-block;
}
.css-ahj2mt-MuiTypography-root {
  padding: 0 4px !important;
  margin: 0 13px 0 0 !important;
  font-size: 12px !important;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
  padding: 0 !important;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #fff !important;
}
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1rem !important;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
  color: #fff !important;
}
.contBTN {
  padding: 5px;
  border: none;
  background-color: #e7411b;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  display: block;
  margin-top: 18px;
  font-weight: inherit;
}
.backBTN {
  background: none;
  padding: 8px;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 17px;
  display: block;
  margin-top: 6px;
  font-weight: 600;
  padding-bottom: 20px;
  opacity: 0.6;
  font-weight: inherit;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
}
