@import url("https://fonts.googleapis.com/css2?family=Lato&family=Maven+Pro:wght@400;800&family=Mulish&family=Poppins:wght@500&display=swap");

body {
  font-family: "Mulish", sans-serif;
}
.uploadSuccessDiv {
  color: #fff;
  text-align: center;
  padding: 50px 0;
}
.uploadSuccessP {
  padding: 20px 0;
  font-size: 18px;
}
.uploadSuccessBTN {
  border: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  border-radius: 4px;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
}
