@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;800&family=Mulish&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.css-uhb5lp {
  background-color: #1d1f38 !important;
}
.css-i4bv87-MuiSvgIcon-root {
  height: 1.3rem !important;
  color: #fff !important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0px !important;
}

body {
  font-family: "Mulish", sans-serif;
}
.userProfile-centerDiv {
  width: 90%;
  margin: auto;
  position: relative;
}
.Profile-DP {
  position: absolute;
  display: inline-block;
  border-radius: 6px;
  bottom: -20%;
  left: 4%;
}
.Profile-DP2 {
  position: absolute;
  display: inline-block;
  border-radius: 6px;
  bottom: -10%;
  left: 4%;
}
.DP-img {
  border: 15px solid #14162c;
  border-radius: 6px;
  padding: 0;
  margin: 0;
  width: 244px;
  height: 250px;
}
.editprofileIcon{
  position: relative;
  bottom: 25px;
  right: 20%;
  cursor: pointer;
}
.profile-container {
  width: 70%;
  position: absolute;
  display: flex;
  color: #fff;
  bottom: 25px;
  left: 24.5%;
  z-index: 5;
  align-items: flex-end;
}
.profile-container2 {
  width: 70%;
  position: absolute;
  display: flex;
  color: #fff;
  bottom: 25px;
  left: 24.5%;
  z-index: 5;
  align-items: flex-end;
}
.prfile-name-heading {
  margin-right: 20px;
}
.profileEditButton {
  margin-left: auto;
}
.profile-name {
  font-size: 24px;
  font-size: 100;
}
.pofileP {
  margin: 8px 0 14px 0;
}
.creatorLogos {
  padding-left: 20px;
}
.prfile-lavelP {
  font-size: 20px;
}
.creatorProfileDiv {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: -20px;
}
.editProfiel-btn2 {
  /* position: absolute; */
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: -15%;
  float: right;
}
.creatorProfileContent {
  padding-left: 20px;
}
.level-span {
  font-weight: 700;
}
.followingP {
  font-size: 20px;
}
.follo-span {
  font-weight: 700;
}
.editProfiel-btn {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 4px;
}
/* My Profile component */
.myProfile {
  /* border: 2px solid red; */
  color: #fff;
  width: 90%;
  margin: auto;
  margin-top: 10%;
}
.myProfileName {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.myProfileNames {
  border: none;
  display: inline;
  padding-right: 20px;
  color: gray;
  text-decoration: none;
}
.active_profile {
  border: none;
  color: #fff;
  padding-right: 20px;
  text-decoration: none;
}

.profile-headings {
  /* border: 2px solid rgb(98, 0, 255); */
  width: 75%;
}
.MyProfileP {
  font-size: 18px;
  padding: 0 0 39px 0;
}
.profile-bioP {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin: 10px 0 13px 0;
}
.Bio-container {
  width: 42%;
  display: flex;
  flex-direction: column;
}
.profile-allButtons {
  margin: 13px 0 25px 0;
}
.activetypebtn {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  border-radius: 4px;
  margin: 3px;
  font-size: 16px;
  padding: 7px 15px;
  color: #fff;
  border: none;
  display: inline-block;
}
.userProfileLiSpan {
  font-style: initial;
  font-size: 14px;
}
.passIcon {
  position: relative;
}
.paswordIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  background: none;
  border: none;
}

/* -------------------------- Creator Profile Card -------------------------- */
.creatorProfileCard {
  width: 100%;
  color: #fff;
}
.creatorProfileCart-centerDiv {
  width: 90%;
  margin: auto;
  padding-top: 70px;
  display: flex;
}
.creatorCard {
  width: 25%;
  margin-top: 20px;
}
.creatorProfileH3 {
  padding-top: 70px;
  display: block;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
}
.profile-notificaitonDiv {
  display: flex;
  justify-content: end;
}

/* -------------------------- Creator Profile Card -------------------------- */
/* -------------------------- PofileSetting -------------------------- */
.profileSetting-centerDiv {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
}
.profileSetting-Col {
  width: 25%;
}
.profileSetting-label {
  display: block;
  margin-top: 7px;
  font-size: 14px;
}
.profileInputs {
  width: 100%;
  padding: 10px;
  background-color: #16172d;
  border: none;
  margin: 5px 0;
  border-radius: 4px;
  color: #fff;
}
.profileInput-p {
  text-align: right;
  font-size: 12px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.profileSetting-heading {
  font-size: 18px;
  margin-top: 5px;
}
.cardType-p {
  padding: 20px 0 5px 0;
}
.cardTypeImg {
  padding: 0px 15px 0 0;
}
.cardTypeImg2 {
  margin-top: -5px;
}
.empiryColmn {
  display: flex;
  justify-content: space-between;
}
.empirydata {
  margin: 5px 0;
  width: 49%;
  background: none;
  padding: 10px;
  background-color: #16172d;
  border: none;
  color: #fff;
}
.profile-notificaitonDiv {
  margin-top: 5px;
}

/* -------------------------- PofileSetting -------------------------- */

/* All Media Quaries */
@media only screen and (min-width: 1900px) {
  .Bio-container {
    width: 32%;
  }
  .profile-name {
    font-size: 30px;
  }
  .profile-container {
    bottom: 25px;
    left: 19.5% !important;
  }
  .MyProfileP {
    font-size: 20px;
  }
  .profile-container2 {
    left: 20.5%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .profile-container {
    left: 29.5%;
  }
  .profile-container2 {
    left: 27.5%;
  }
  .prfile-lavelP {
    font-size: 18px;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1199px) {
  .profile-container {
    left: 30%;
    width: 70%;
  }
  .DP-img {
    width: 56%;
    height: auto;
  }
  .Profile-DP {
    left: 4.9%;
  }
  .Bio-container {
    width: 66%;
  }
  .profile-headings {
    width: 100%;
  }
  .prfile-lavelP {
    font-size: 11px;
  }
  .creatorProfileDiv {
    margin-top: 5px;
  }
  .pofileP {
    margin: 6px 0 3px 0;
    font-size: 13px;
  }
  .creatorProfileP {
    font-size: 14px;
  }
  .profile-name {
    font-size: 18px;
  }
  .profile-container2 {
    bottom: 7px;
  }
  .editProfiel-btn2 {
    font-size: 16px;
    padding: 7px 19px;
  }
  .creatorProfileContent {
    padding-left: 6px;
  }
  .creatorCard {
    width: 50%;
    margin-top: 40px;
  }
  .profileSetting-centerDiv {
    /* flex-direction: column; */
  }
  .profileSetting-Col {
    width: 30%;

    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 900px) {
  .profile-container {
    left: 29%;
    width: 70%;
  }
  .DP-img {
    width: 49%;
    height: auto;
  }
  .Profile-DP {
    left: 2.9%;
  }
  .profile-headings {
    width: 100%;
  }
  .Bio-container {
    width: 77%;
  }
  .prfile-lavelP {
    font-size: 10px;
  }
  .creatorProfileP {
    font-size: 10px;
  }
  .creatorProfileContent {
    padding-left: 7px;
  }
  .creatorProfileDiv {
    margin-top: 7px;
  }
  .pofileP {
    margin: 6px 0 7px 0;
    font-size: 13px;
  }
  .profile-name {
    font-size: 18px;
  }
  .profile-container2 {
    bottom: 5px;
    left: 26.5%;
  }
  .editProfiel-btn2 {
    font-size: 14px;
    padding: 5px px 13px;
    margin-top: -21%;
  }
  .creatorProfileH3 {
    padding-top: 30px;
  }
  .creatorProfileCart-centerDiv {
    padding-top: 0px;
  }
  .creatorCard {
    width: 50%;
  }
  .profileSetting-centerDiv {
    flex-direction: column;
  }
  .profileSetting-Col {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 700px) {
  .profile-container {
    left: 25%;
    bottom: 10px;
    width: 73%;
  }
  .DP-img {
    width: 40%;
    border: 6px solid #14162c;
    height: auto;
  }
  .profile-name {
    font-size: 14px;
  }
  .pofileP {
    margin: 4px 0 7px 0;
    font-size: 11px;
  }
  .prfile-lavelP {
    font-size: 14px;
  }
  .level-span {
    font-size: 14px;
  }
  .followingP {
    font-size: 14px;
  }
  .editProfiel-btn {
    font-size: 10px;
    padding: 6px 8px;
  }
  .profile-headings {
    width: 100%;
  }
  .Bio-container {
    width: 90%;
  }
  .MyProfileP {
    font-size: 14px;
    padding: 0 0 39px 0;
  }
  .userTagsAllButton {
    font-size: 14px;
    padding: 7px 12px;
  }
  .creatorProfileP {
    font-size: 9px;
  }
  .creatorProfileContent {
    padding-left: 7px;
  }
  .prfile-lavelP {
    font-size: 8px;
  }
  .creatorProfileDiv {
    margin-top: 5px;
  }
  .editProfiel-btn2 {
    font-size: 11px;
    padding: 3px 13px;
    margin-top: -16%;
  }
  .profile-container2 {
    bottom: 4px;
    left: 26.5%;
  }
  .creatorProfileH3 {
    padding-top: 27px;
  }
  .creatorProfileCart-centerDiv {
    padding-top: 9px;
  }
  .creatorCard {
    width: 50%;
  }
  .profileSetting-centerDiv {
    flex-direction: column;
  }
  .profileSetting-Col {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .profile-container {
    left: 26%;
    width: 70%;
    bottom: 11px;
  }
  .DP-img {
    width: 30%;
    border: 6px solid #14162c;
  }
  .profile-name {
    font-size: 11px;
  }
  .pofileP {
    margin: 3px 0 3px 0;
    font-size: 8px;
  }
  .prfile-lavelP {
    font-size: 6px;
  }
  .level-span {
    font-size: 8px;
  }
  .followingP {
    font-size: 8px;
  }
  .editProfiel-btn {
    font-size: 6px;
    padding: 4px 7px;
  }
  .MyProfileP {
    font-size: 8px;
    padding: 0 0 30px 0;
  }
  .userTagsAllButton {
    font-size: 8px !important;
    padding: 7px 10px;
  }
  .Bio-container {
    width: 100%;
  }
  .Profile-DP2 {
    left: 2%;
  }
  .DP-img {
    width: 30%;
    height: auto;
  }
  .creatorProfileDiv {
    margin-top: 3px;
  }
  .creatorProfileContent {
    padding-left: 5px;
  }
  .creatorProfileP {
    font-size: 6px;
  }

  .editProfiel-btn2 {
    font-size: 10px;
    padding: 3px 5px;
    margin-top: -20%;
  }
  .CreatorProfileImg {
    width: 80%;
  }
  .profile-container2 {
    bottom: 6px;
    left: 26.5%;
  }
  .creatorProfileH3 {
    padding-top: 20px;
    padding-bottom: 11px;
    font-size: 13px;
  }
  .creatorProfileCart-centerDiv {
    padding-top: 0;
    flex-direction: column;
  }
  .creatorCard {
    width: 100%;
  }
  .profileSetting-centerDiv {
    flex-direction: column;
  }
  .profileSetting-Col {
    width: 100%;
    margin-bottom: 50px;
  }
}
