@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;800&family=Mulish&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.css-uhb5lp {
  background-color: #1d1f38 !important;
}
.css-i4bv87-MuiSvgIcon-root {
  height: 1.3rem !important;
  color: #fff !important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0px !important;
}

body {
  font-family: "Mulish", sans-serif;
}
.userProfile-centerDiv {
  width: 90%;
  margin: auto;
  position: relative;
}
.Profile-DP {
  position: absolute;

  display: inline-block;
  border-radius: 6px;
  bottom: -20%;
  left: 4%;
}
.DP-img {
  border: 15px solid #14162c;
  border-radius: 6px;
  padding: 0;
  margin: 0;
  width: 250px;
  height: 250px;
}
.profile-container {
  width: 70%;
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  color: #fff;
  bottom: 25px;
  left: 24.5%;
  z-index: 5;

  align-items: flex-end;
}
.prfile-name-heading {
  margin-right: 20px;
}
.profileEditButton {
  margin-left: auto;
}
.profile-name {
  font-size: 24px;
  font-size: 100;
}
.pofileP {
  margin: 8px 0 14px 0;
}
.creatorLogos {
  padding-left: 20px;
}
.prfile-lavelP {
  font-size: 20px;
}
.creatorProfileDiv {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: -20px;
}
.editProfiel-btn2 {
  position: absolute;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: -21%;
}
.creatorProfileContent {
  padding-left: 20px;
}
.level-span {
  font-weight: 700;
}
.followingP {
  font-size: 20px;
}
.follo-span {
  font-weight: 700;
}
.editProfiel-btn {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 4px;
}
/* My Profile component */
.myProfile {
  /* border: 2px solid red; */
  color: #fff;
  width: 90%;
  margin: auto;
  margin-top: 10%;
}
.myProfileName {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.profile-headings {
  /* border: 2px solid rgb(98, 0, 255); */
  width: 75%;
}
.MyProfileP {
  font-size: 18px;
  padding: 0 0 39px 0;
}
.profile-bioP {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin: 10px 0 13px 0;
}
.Bio-container {
  width: 42%;
  display: flex;
  flex-direction: column;
}
.profile-allButtons {
  margin: 13px 0 25px 0;
}
.activetypebtn {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(65.06deg, #662f88 9.05%, #20bf55 131.69%);
  border-radius: 4px;
  margin: 3px;
  font-size: 16px;
  padding: 7px 15px;
  color: #fff;
  border: none;
  display: inline-block;
}
.userProfileLiSpan {
  font-style: initial;
  font-size: 14px;
}

/* All Media Quaries */
@media only screen and (min-width: 1900px) {
  .Bio-container {
    width: 32%;
  }
  .profile-name {
    font-size: 30px;
  }
  .profile-container {
    left: 21.5%;
  }
  .MyProfileP {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .profile-container {
    left: 29.5%;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1199px) {
  .profile-container {
    left: 30%;
    width: 70%;
  }
  .DP-img {
    width: 70%;
  }
  .Profile-DP {
    left: 4.9%;
  }
  .Bio-container {
    width: 66%;
  }
  .profile-headings {
    width: 100%;
  }
}
@media only screen and (min-width: 701px) and (max-width: 900px) {
  .profile-container {
    left: 29%;
    width: 70%;
  }
  .DP-img {
    width: 60%;
  }
  .Profile-DP {
    left: 2.9%;
  }
  .profile-headings {
    width: 100%;
  }
  .Bio-container {
    width: 77%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 700px) {
  .profile-container {
    left: 25%;
    bottom: 10px;
    width: 73%;
  }
  .DP-img {
    width: 40%;
    border: 6px solid #14162c;
  }
  .profile-name {
    font-size: 14px;
  }
  .pofileP {
    margin: 4px 0 7px 0;
    font-size: 14px;
  }
  .prfile-lavelP {
    font-size: 14px;
  }
  .level-span {
    font-size: 14px;
  }
  .followingP {
    font-size: 14px;
  }
  .editProfiel-btn {
    font-size: 10px;
    padding: 6px 8px;
  }
  .profile-headings {
    width: 100%;
  }
  .Bio-container {
    width: 90%;
  }
  .MyProfileP {
    font-size: 14px;
    padding: 0 0 39px 0;
  }
  .userTagsAllButton {
    font-size: 14px;
    padding: 7px 12px;
  }
}
@media only screen and (min-width: 301px) and (max-width: 500px) {
  .profile-container {
    left: 26%;
    width: 70%;
    bottom: 11px;
  }
  .DP-img {
    width: 30%;
    border: 6px solid #14162c;
  }
  .profile-name {
    font-size: 8px;
  }
  .pofileP {
    margin: 3px 0 3px 0;
    font-size: 8px;
  }
  .prfile-lavelP {
    font-size: 8px;
  }
  .level-span {
    font-size: 8px;
  }
  .followingP {
    font-size: 8px;
  }
  .editProfiel-btn {
    font-size: 6px;
    padding: 4px 7px;
  }
  .MyProfileP {
    font-size: 8px;
    padding: 0 0 30px 0;
  }
  .userTagsAllButton {
    font-size: 8px !important;
    padding: 7px 10px;
  }
  .Bio-container {
    width: 100%;
  }
}
@media only screen and (max-width: 300px) {
  .profile-container {
    left: 30%;
    width: 75%;
    bottom: 11px;
  }
  .DP-img {
    width: 25%;
    border: 6px solid #14162c;
  }
  .profile-name {
    font-size: 8px;
  }
  .pofileP {
    margin: 3px 0 3px 0;
    font-size: 8px;
  }
  .prfile-lavelP {
    font-size: 8px;
  }
  .level-span {
    font-size: 8px;
  }
  .followingP {
    font-size: 8px;
  }
  .editProfiel-btn {
    font-size: 6px;
    padding: 4px 7px;
  }
  .MyProfileP {
    font-size: 8px;
    padding: 0 0 30px 0;
  }
  .userTagsAllButton {
    font-size: 8px;
    padding: 7px 10px;
  }
  .Bio-container {
    width: 100%;
  }
}
